<template>
  <div class="container" id="solutions-1">
    <div
      v-for="(item, i) in servicesList1"
      class="item"
      :key="'item' + i"
      :ref="'item' + i"
      @mouseenter="(e) => checkPosition(e, 'item' + i, true, i)"
      @mouseleave="(e) => checkPosition(e, 'item' + i, false, i)"
    >
      <div class="bck"></div>
      <div v-html="item.svg" class="svg"></div>
      <h2 v-html="item.title" :class="selectedIndex == i ? 'active' : ''"></h2>
      <p v-html="item.description" :class="selectedIndex == i ? 'active' : ''"></p>
      <svg width="153" height="123" viewBox="0 0 153 123" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-1" :class="selectedIndex == i ? 'active' : ''"><path opacity="0.102" d="M152.999 0.468018L152.9 123H0.535156L152.999 0.468018Z" fill="white"/></svg>
    </div>
  </div>
</template>
		
<script>
import { mapState } from 'vuex'
export default {
  name: "Solutions",
  data() {
    return {
      selectedIndex: null,
      lastIndex: null,
      side: null,
      cursorOut: true,
      svg3: '<svg width="153" height="123" viewBox="0 0 153 123" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.102" d="M152.999 0.468018L152.9 123H0.535156L152.999 0.468018Z" fill="white"/></svg>'
    };
  },
  computed: {
    ...mapState({
      servicesList1: state => state.servicesList
    })
  },
  methods: {
    checkPosition: function (ev, refname, mouse_in, el_index) {
      const { width, height, top, left } = this.$refs[refname].getBoundingClientRect(),
      l = ev.pageX - (left + window.pageXOffset),
      t = ev.pageY - (top + window.pageYOffset),
      x = (l - (width/2) * (width > height ? (height/width) : 1)),
      y = (t - (height/2) * (height > width ? (width/height) : 1));
      let op = Math.round(Math.atan2(y, x) / 1.57079633 + 5) % 4;
      
      this.$refs[refname].classList.value = "item animation-"+(mouse_in ? 'in' : 'out')
      this.selectedIndex = mouse_in ? el_index : null;
      
      switch (op) {
        case 3: //left
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-left";
          break;
        case 1: //right
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-right";
          break;
        case 0: //top
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-top";
          break;
        case 2: //bottom
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-bottom";
          break;
      
        default:
          break;
      }
    },
  },
};
</script>


<style lang="scss">
@import "@/assets/scss/general.scss";
.container#solutions-1{
  @include width-01();
  padding: 50px 0;
    
  @include mb{
    display: flex;
    flex-direction: column;

    .item {
      margin-bottom: 20px;

      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
    }
  }
  @include tb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

  }
  @include sm{
    grid-gap: 30px;

  }
  @include md{
    grid-template-columns: 1fr 1fr 1fr;

  }
  @include lg{
    grid-gap: 50px;

  }

  .item {
    position: relative;
    overflow: hidden;
    cursor: default;

    // @include fontH;
    font-style: normal;

    background: #FFFFFF;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.039));
    border-radius: 10px;
    
    overflow: hidden;
    
    @include mb{
      padding: 30px;
      // height: calc(325px - 60px);
    }
    @include tb{
      // height: calc(300px - 60px);
      height: calc(360px - 60px);
    }
    @include sm{
      // height: calc(275px - 60px);
      height: calc(350px - 60px);
    }
    @include md{
      height: calc(350px - 60px);
    }
    @include lg{
      height: calc(406px - 60px);
      padding: 50px;
    }
    
    $anim_duration: 0.2s;

    .bck {
      position: absolute;
      opacity: 0;
      
      width: 100%;
      height: 100%;
      
      background: $gray3;
      
    }
    &.animation-in .bck {
      opacity: 1;
    }
    
    &.animation-in-left .bck {
      animation: slide-left $anim_duration ease;
    }
    &.animation-in-right .bck {
      animation: slide-right $anim_duration ease;
    }
    &.animation-in-top .bck {
      animation: slide-top $anim_duration ease;
    }
    &.animation-in-bottom .bck {
      animation: slide-bottom $anim_duration ease;
    }
    
    &.animation-out .bck {
      opacity: 0;
    }
    
    &.animation-out-left .bck {
      animation: slide-left-out $anim_duration ease;
      left: -100%;
    }
    &.animation-out-right .bck {
      animation: slide-right-out $anim_duration ease;
      left: 100%;
    }
    &.animation-out-top .bck {
      animation: slide-top-out $anim_duration ease;
      top: -100%;
    }
    &.animation-out-bottom .bck {
      animation: slide-bottom-out $anim_duration ease;
      top: 100%;
    }

    @keyframes slide-left { 
      from{
        left: - 100%;
      } to {
        left: 0;
      }
    }
    @keyframes slide-right {
      from{
        left:  100%;
      } to {
        left: 0;
      }
    }
    @keyframes slide-top {
      from{
        top: - 100%;
      } to {
        top: 0;
      }
    }
    @keyframes slide-bottom {
      from{
        top: 100%;
      } to {
        top: 0;
      }
    }
    
    @keyframes slide-left-out { 
      from{
        left: 0;
      opacity: 1;
      } to {
        left: -100%;
      opacity: 1;
      }
    }
    @keyframes slide-right-out { 
      from{
        left: 0;
      opacity: 1;
      } to {
        left: 100%;
      opacity: 1;
      }
    }
    @keyframes slide-top-out { 
    from{
      opacity: 1;
      
        top: 0;
      } to {
      opacity: 1;
      
        top: -100%;
      }
    }
    @keyframes slide-bottom-out {
    from{
      opacity: 1;
      
        top: 0;
      } to {
      opacity: 1;
      
        top: 100%;
      }
    }
    
    h2,
    p,
    span,
    svg,
    .svg {
      z-index: 101;
      
      @include mb-only {
        z-index: 100;
      }
    }

    h2{
      @include fontH;
    }
    
    h2, p{
      position: relative;
      &.active{
        color: #fff;
      }
    }

    h2 {
      font-style: normal;
      font-weight: normal;

      transition: 0s !important;

      font-weight: normal;
      font-size: 30px;
      line-height: 43px;

      margin-top: 20px;
      margin-bottom: 10px;

      br{
        display: none;
      }
    }
    
    p{
      font-style: normal;
      font-weight: normal;

      font-size: 16px;
      line-height: 25px;    
    }

    .svg {
      position: relative;
      
      svg {
        width: 64px;
        max-height: 64px;
      }
      
      &-1{
        position: absolute;
        bottom: 0;
        right: 0;
        
        opacity: 0;
        
        &.active{
            opacity: 1;
        }
        
        @include mb {
          width: 107.29px;
          height: 105.63px;
        }
        @include tb {
          width: 137.94px;
          height: 105.63px;
        }
        @include lg {
          width: 152.46px;
          height: 122.53px;
        }
      }
    }
  }
}
</style>