
//breakpoints
$screen-xxs-min: 360px;
$screen-xs-min: 767px;
$screen-sm-min: 1024px;
// $screen-md-min: 1170px;
$screen-md-min: 1280px;
$screen-lg-min: 1439px;
$screen-xl-min: 1920px;
// breakpoints mixins
@mixin xxs {
    @media (min-width: #{$screen-xxs-min}) {
        @content;
    }
}

@mixin xs-max {
    @media (max-width: #{$screen-xs-min - 1px}) {
        @content;
    }
}

@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin sm-max {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md-max {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin mb {
    // mobile and higher
    @media (min-width: #{$screen-xxs-min}) {
        @content;
    }
}

@mixin mb-only {
    // mobile only
    @media (min-width: #{$screen-xxs-min}) and (max-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin tb {
    // tablet and higher
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin tb-only {
    // tablet only
    @media (min-width: #{$screen-xs-min}) and (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm {
    // small desktop and higher
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-only {
    // small desktop only
    @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin md {
    // medium desktop and higher
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin md-only {
    // medium desktop only
    @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin lg {
    // large desktop and higher
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin lg-max {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    // large desktop and higher
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin mobile-nav {
    // mobile nav only
    @media (min-width: #{$screen-xxs-min}) and (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin desktop-nav {
    // desktop nav only
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin width-01 {
    margin: 0 auto;
    @include mb {
        width: 330px; // 283px
    }
    @include tb {
        width: 716px;
    }
    @include sm {
        width: 892px;
    }
    @include md {
        width: 1170px;
    }
}