// imports
@import "@/assets/scss/breakpoints.scss";
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/fonts.scss";




// @import "@/assets/scss/scrollbar.scss";
// @import "@/assets/scss/select.scss";
* {
    transition: 0.3s;
}

// * {
//     font-family: $fontFamilyTexts;
// }
h2,
h3,
p,
span,
ul,
li {
    padding: 0;
    margin: 0;
}

p,
li {
    font-family: $fontFamilyTexts;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    @include fontH;
}

.color-orange {
    color: $orange !important;
}

.bck,
.darker,
.abs-100-100 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bck {
    z-index: 98;
}

.darker {
    z-index: 99;
    background: rgba(0, 0, 0, 0.57);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// code {
//     font-family: 'Fira Code', monospace;
//     padding: 5px;
// }

#about,
#contact, 
#services,
#realizations {
    &.main{
        background: #fff;
    }
}

#realizations,
#contact {
    &>.container {
        @include width-01();
    }
}

div#preload {
    display: none;
}