            @import "@/assets/scss/general.scss";
            $activeColor: $orange;
            $normalColor: #000;
            @keyframes in-1-t {
                0% {
                    left: 50%;
                    right: 50%;
                }
                100% {
                    left: 0;
                    right: 0;
                }
            }
            
            @keyframes out-1-t {
                0% {
                    left: 0;
                    right: 0;
                }
                100% {
                    left: 50%;
                    right: 50%;
                }
            }
            
            @keyframes menu-title-fade-in {
                0% {
                    opacity: 0;
                }
                40% {
                    opacity: 0;
                }
                75% {
                    opacity: 0.7;
                }
                100% {
                    opacity: 1;
                }
            }
            
            @keyframes menu-title-line-fade-in {
                0% {
                    width: 0;
                }
                100% {
                    width: 65px;
                }
            }
            
            @include desktop-nav {
                .header-nav-tab__content {
                    text-decoration: none;
                    color: $normalColor;
                    position: relative;
                    $animation_time: 0.25s;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        right: 50%;
                        bottom: -3px;
                        height: 2px;
                        background: $activeColor;
                        -webkit-animation: out-1-t $animation_time ease-out;
                        /* Safari 4+ */
                        -moz-animation: out-1-t $animation_time ease-out;
                        /* Fx 5+ */
                        -o-animation: out-1-t $animation_time ease-out;
                        /* Opera 12+ */
                        animation: out-1-t $animation_time ease-out;
                        /* IE 10+, Fx 29+ */
                    }
                    &--active,
                    &--hover {
                        &::after {
                            left: 0;
                            right: 0;
                            bottom: -3px;
                            height: 2px;
                            background: $activeColor;
                            -webkit-animation: in-1-t $animation_time ease-in;
                            /* Safari 4+ */
                            -moz-animation: in-1-t $animation_time ease-in;
                            /* Fx 5+ */
                            -o-animation: in-1-t $animation_time ease-in;
                            /* Opera 12+ */
                            animation: in-1-t $animation_time ease-in;
                            /* IE 10+, Fx 29+ */
                        }
                    }
                }
            }
            
            @include mobile-nav {
                $nav-width: 250px;
                #header-nav {
                    transition: 0s;
                    
                    $animation_time: 1s;

                    z-index: 109;
                    position: fixed;
                    bottom: 0;
                    top: 0;

                    right: -100%;
                    left: 100%; // ważne

                    padding-top: 91px;
                    background: $gray2;
                    display: flex;
                    flex-direction: column;

                    &.nav-open, &.nav-closed{
                        transition: $animation_time;
                    }

                    &.nav-open {
                        right: 0;
                        @include mb {
                            left: 50%;
                        }
                        @include tb {
                            left: calc(100% - #{$nav-width});
                        }
                    }
                    .nav-mobile-title {
                        &.nav-open {
                            -webkit-animation: menu-title-fade-in $animation_time ease-out;
                            /* Safari 4+ */
                            -moz-animation: menu-title-fade-in $animation_time ease-out;
                            /* Fx 5+ */
                            -o-animation: menu-title-fade-in $animation_time ease-out;
                            /* Opera 12+ */
                            animation: menu-title-fade-in $animation_time ease-out;
                            /* IE 10+, Fx 29+ */
                            .line {
                                -webkit-animation: menu-title-line-fade-in $animation_time ease-out;
                                /* Safari 4+ */
                                -moz-animation: menu-title-line-fade-in $animation_time ease-out;
                                /* Fx 5+ */
                                -o-animation: menu-title-line-fade-in $animation_time ease-out;
                                /* Opera 12+ */
                                animation: menu-title-line-fade-in $animation_time ease-out;
                                /* IE 10+, Fx 29+ */
                            }
                        }
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        right: calc(17px + 15px);
                        z-index: 110;
                        display: flex;
                        flex-direction: row;
                        span {
                            color: #fff;
                            @include fontH;
                            // font-size: 14px;
                            // line-height: 18px;
                            font-size: 18px;
                            line-height: 18px;
                        }
                        div.line {
                            width: 65px;
                            height: 2px;
                            margin: 7px 21px;
                            background: $orange;
                        }
                        @include desktop-nav {
                            display: none !important;
                        }
                    }
                    .nav-mobile-social-media {
                        position: absolute;
                        bottom: 18px;
                        left: 51px;
                        right: 51px;
                        z-index: 110;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        a {
                            color: #fff;
                            @include fontH;
                            font-size: 10px;
                            line-height: 14px;
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                    }
                }
                .nav-hamburger-mobile {
                    @include mobile-nav {
                        position: absolute;
                        // position: sticky;
                        // top: 20px;
                        top: 19px;
                        right: 17px;
                        z-index: 110;
                    }
                    @include tb {
                        position: absolute;
                        top: 20px;
                        right: 80px;
                    }
                    @include desktop-nav {
                        display: none;
                    }

                    &.nav-open{
                        position: fixed;
                        
                        svg path {
                            fill: #fff;
                        }
                    }
                }
                #hamburger-icon {
                    // width: 15px;
                    // height: 15px;
                    width: 20px;
                    height: 20px;
                    transform: scale(0.8);
                    &.checked {
                        span {
                            background: #fff;
                            opacity: 1;
                            &:nth-last-child(2) {
                                opacity: 0;
                                // transform: rotate(0deg) scale(0.2, 0.2);
                                transform: rotate(0deg) scale(0.2, 0.2);
                            }
                            &:nth-last-child(1) {
                                // transform: rotate(-45deg) translate(3px, -2px) scale(1.25, 1);
                                transform: rotate(-45deg) translate(1px, -2px) scale(1.25, 1);
                            }
                            &:nth-last-child(3) {
                                // transform: rotate(45deg) translate(3.5px, 0px) scale(1.25, 1);
                                transform: rotate(45deg) translate(2px, 0px) scale(1.25, 1);
                            }
                        }
                    }
                    span {
                        display: block;
                        // width: 15px;
                        // height: 3px;
                        width: 20px;
                        height: 4px;
                        margin-bottom: 3px;
                        position: relative;
                        background: #000;
                        border-radius: 3px;
                        z-index: 1;
                        transform-origin: 4px 0px;
                        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
                    }
                }
            }