//colors
$blue60: hsl(218, 100%, 58%);
$blue5: #EBF2FF;
$grey20: #D2D2D6;
$green60: #43A047;
$orange50: #E5AE40;
$red60: #F44336;
$yellow: #F1F105;
$orange: #F56400;
$gray1: #212329;
$gray2: #1B1D21;
$gray3: #222429;
$gray4: #E5E5E5;
$gray5: #686A6F;
$gray6: #F4F5F8;
$formInvalidColor: #dc3545;


//theme colors
$backgroundColor: #E5E5E5;
$accentColor1: #2662f0;
$btnColor1: $blue60;
$btnHoverColor1: #5e99ff;
$btnTextColor1: $blue5;
$scrollbarColor1: $backgroundColor;
$fontSize10: 0.625rem;
$fontSize11: 0.6875rem;
$fontSize12: 0.75rem;
$fontSize13: 0.8125rem;
$fontSize14: 0.875rem;
$fontSize15: 0.9375rem;
$fontSize16: 1rem;
$fontSize17: 1.0625rem;
$fontSize18: 1.125rem;
$fontFamilyHeaders: Teko;
$fontFamilyButtons: Teko;
$fontFamilyTexts: Arial;