<!DOCTYPE html>
<!--[if IE]><html class="ie" lang="pl"><![endif]--><html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">

    <!-- generated -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=2bA5GbLWWY">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=2bA5GbLWWY">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=2bA5GbLWWY">
    <link rel="manifest" href="/favicon/site.webmanifest?v=2bA5GbLWWY">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=2bA5GbLWWY" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=2bA5GbLWWY">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=2bA5GbLWWY">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="<%= htmlWebpackPlugin.options.og_url %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.og_image %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.og_url %>">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.twitter_description %>">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.twitter_image %>">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap" as='style' rel="preload">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap" rel="stylesheet">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!--[if IE]><div class="w-100 text-center bg-dark text-white pt-3 px-4 pb-1 position-fixed" style="z-index: 1000; bottom: 0;"><p onClick="parentNode.remove()">Please use a modern browser for a better browsing experience. <span class="float-right">X</span></p></div><![endif]-->
    
    <!-- <script src="https://unpkg.com/vue3-google-map"></script> -->

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
