<template>
    <div id="clients">
        <div class="container">
            <div class="title"><h2>KLIENCI, Z KTÓRYMI<br/> WSPÓŁPRACOWALIŚMY<span class='color-orange'>.</span></h2></div>
            <div v-for="(it, i) in items" :key="'l_i_'+i" class="card" :class="'card-'+(i+1)">
                <img :src="webp(it.img1)" alt="">
            </div>
            <div class="bnk bnk-1"></div>
            <div class="bnk bnk-2"></div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue';

export default {
    name: "Clients",
    setup () {
        let items = ref([]);
    
        for (let index = 0; index < 11; index++) {
          items.value.push({
            img: require("@/assets/images/clients-etrust/" + (index + 1) + ".png"),
            img1: require("@/assets/images/clients-etrust/" + (index + 1) + "-color.png"),
          });
        }

        return {items}
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
#clients{
    & > div.container {
        @include width-01();
        margin: 0 auto;
        padding: 91px 0;
        

        
        .title{
            grid-area: title;

            display: flex;
            justify-content: center;
            align-items: center;
            
            @include md{
                justify-content: left;
            }

            h2{
                font-weight: normal;
                font-size: 36px;
                line-height: 52px;


                @include mb-only{
                    text-align: center;
                    margin-bottom: 30px;
                }
                @include tb-only{
                    text-align: center;
                    margin-bottom: 20px;
                }
                @include tb{
                    font-size: 70px;
                    line-height: 100px;
                }
                @include sm-only{
                    margin-bottom: 40px;

                    br{
                        display: none;
                    }
                }
                @include md{
                    margin-left: 50px;
                }
                @include xl{
                    margin-left: 0;
                    margin-right: 30px;
                }
            }
        }

        @include mb-only{
            display: flex;
            flex-direction: column;

            
            .card{
                &-1{ order: 9; } 
                &-2{ order: 10; }
                &-3{ order: 6; }
                &-4{ order: 4; }
                &-5{ order: 8; }
                &-6{ order: 7; }
                &-7{ order: 4; }
                &-8{ order: 3; }
                &-9{ order: 5; }
                &-10{ order: 1; }
                &-11{ order: 2; }            
            }


            & > div.card{
                margin-bottom: 10px;

                img{
                    display: block;
                    width: 240px;
                    height: 80px;
                    margin: 0 auto;
                }
            }
        }

        .bnk{
            display: none;

            @include tb-only{
                // display: block;
            }
            @include sm-only{
                // display: block;
            }

            &-1{
                grid-area: bnk1;
            }
            &-2{
                grid-area: bnk2;
            }
        }
        
        @include tb{
            $c_w: 8.33333333333%;
            display: grid;
            grid-template-columns: $c_w $c_w $c_w $c_w $c_w $c_w $c_w $c_w $c_w $c_w $c_w $c_w;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: "title title title title title title title title title title title title" "p_10 p_10 p_10 p_10 p_11 p_11 p_11 p_11 p_8 p_8 p_8 p_8" "p_7 p_7 p_7 p_7 p_4 p_4 p_4 p_4 p_9 p_9 p_9 p_9" "p_6 p_6 p_6 p_6 p_5 p_5 p_5 p_5 p_3 p_3 p_3 p_3" ". . p_1 p_1 p_1 p_1 p_2 p_2 p_2 p_2 . .";

            .card{
                &-1{ grid-area: p_1; } 
                &-2{ grid-area: p_2; }
                &-3{ grid-area: p_3; }
                &-4{ grid-area: p_4; }
                &-5{ grid-area: p_5; }
                &-6{ grid-area: p_6; }
                &-7{ grid-area: p_7; }
                &-8{ grid-area: p_8; }
                &-9{ grid-area: p_9; }
                &-10{ grid-area: p_10; }
                &-11{ grid-area: p_11; }            
            }
        }
        @include sm{
            display: grid;
            grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: "title title title title title title title title" "p_10 p_10 p_11 p_11 p_8 p_8 p_4 p_4" "p_7 p_7 p_9 p_9 p_3 p_3 p_6 p_6" ". p_5 p_5 p_1 p_1 p_2 p_2 ." ". . . . . . . .";
        }
        @include md{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: "title title title p_10" "title title title p_11" "title title title p_8" "p_9 p_7 p_4 p_3" "p_5 p_6 p_2 p_1";
            grid-gap: 10px;
        }
        @include xl{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "title p_10 p_11 p_8 p_4" "title p_3 p_9 p_7 p_5" "title p_6 p_2 p_1 ." "title . . . .";
        }
        @include xl{
            row-gap: 10px;
            grid-gap: 0;
        }

        .card{
            display: flex;
            justify-content: center;
            width: 240px;
            margin: 0 auto;

            img{
                display: block;
                width: 240px;
                height: 80px;
                margin: 0 auto;
            }
        }
        
        // div.logos{
        //     @include mb-only{
        //         display: flex;
        //         flex-direction: column;


        //         & > div{
        //             margin-bottom: 10px;

        //             img{
        //                 display: block;
        //                 width: 240px;
        //                 height: 80px;
        //                 margin: 0 auto;
        //             }
        //         }
        //     }
        //     @include tb{
        //         display: grid;
        //         grid-template-columns: 1fr 1fr 1fr 1fr;
        //         grid-template-rows: auto auto auto;
        //         grid-gap: 10px;
        //     }
        //     @include lg{
        //         display: grid;
        //         grid-template-columns: 1fr 1fr 1fr 1fr;
        //         grid-template-rows: auto auto auto;
        //         grid-gap: 10px;
        //     }
        // }
    }
}
</style>