<template>
  <div
    id="opinions"
    :style="{
      'background-image':
        'url(\'' +
        webp(require('@/assets/images/backgrounds/bg-linie 1 (1).png')) +
        '\')',
    }"
  >
    <div class="container">
      <div class="header">
        <h2>OPINIE KLIENTÓW<span class="color-orange">.</span></h2>
      </div>
      <swiper
        slidesPerView="auto"
        autoplay
        :speed="1000"
        id="opinions-slides"
      >
        <swiper-slide
          v-for="(item, index) in opinions"
          :key="index + '_o_i'"
          :class="'swiper-slide-' + (index + 1)"
        >
          <svg
            width="28"
            height="23"
            viewBox="0 0 28 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.6172 0.818359L22.1973 22.5957H15.0195L21.9043 0.818359H27.6172ZM12.7734 0.818359L7.5 22.5957H0.175781L7.01172 0.818359H12.7734Z"
              fill="#F56400"
            />
          </svg>

          <h3 v-html="item.person"></h3>
          <p v-html="item.content" class="opinion"></p>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/swiper.scss";

import SwiperCore, { Autoplay } from "swiper";
SwiperCore.use([Autoplay]);

export default {
  name: "Opinions",
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      opinions: [
        {
          person:
            'dr Albrecht Lempp - Dyrektor - Członek Zarządu<br/><span class="color-orange">Fundacja Współpracy Polsko-Niemieckiej</span>',
          content:
            "Agencje E-Trust profesjonalnie wykonała powierzone zadania, a prace przebiegły zgodnie z uzgodnionym harmonogramem. Konsultanci E-Trust w oparciu o swoją wiedzę pomogli osiągnąć postawione w projekcie cele, a wykonane prace tworzyli z najwyższą starannością. Zgodnie z naszym doświadczeniem firma E-Trust jest partnerem godnym najwyższego zaufania",
        },
        {
          person:
            'Prof. zw. dr hab. Marcin Nowakowski - Koordynator programu CEMBA<br/><span class="color-orange">Szkoła Główna Handlowa w Warszawie</span>',
          content:
            "Wykonany dla nas projekt witryn CEMBA oraz Alumni Association spełnił wszystkie nasze oczekiwania. Świadczą o tym oceny użytkowników i osób odwiedzających strony WWW oraz ogólna opinia rynku. Firma reprezentuje wysoki poziom profesjonalizmu, dostosowuje się do indywidualnych potrzeb klienta, jest rzetelna i terminowa. Z pełną odpowiedzialnością polecamy firmę E-Trust jako profesjonalnego dostawcę rozwiązań internetowych.",
        },
        {
          person:
            'Monika Mychlewicz - Dyrektor ds. Marketingu <br/><span class="color-orange">Xella Polska Sp. z o.o</span>',
          content:
            "Xella Polska Sp. z o.o. współpracuje z firmą E-Trust Sp. z o.o. od kilku lat w zakresie wdrażania rozwiązań IT. W tym czasie zrealizowaliśmy szereg projektów internetowych w tym projekty zaawansowane, o znacznym stopniu skomplikowania. Podczas długoletniej współpracy firma E-Trust Sp. z o.o. dała się poznać jako rzetelny partner z indywidualnym podejściem do klienta oraz elastycznymi rozwiązaniami... Wszystkie projekty zostały zrealizowane terminowo, solidnie, z należytą starannością oraz zaangażowaniem wszystkich pracowników firmy E-Trust Sp. z o.o., na wysokim poziomie merytorycznym oraz przez wysoko wykwalifikowaną i doświadczoną kadrę.",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";
#opinions {
  background-size: 100%;

  & > div.container {
    @include width-01();
    padding: 94px 0;

    h2,
    h3 {
      @include fontH;
    }
    h2 {
        font-size: 70px;
        line-height: 100px;
        font-weight: normal;

        @include mb {
            margin-bottom: 50px;
        }
        @include tb {
            margin-bottom: 40px;
        }
        @include md {
            margin-bottom: 25px;
        }
    }
    h3{
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
    }
    p.opinion{
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
    }

    #opinions-slides {
      overflow: visible;
      .swiper-slide {
        position: relative;

        $gap: 30px;

        margin-right: $gap;

        

        background: #ffffff;

        & > svg {
          position: absolute;
          top: 68px;
          right: 60px;

          @include mb-only{
            display: none;
          }
        }

        @include mb {
            padding: 20px 26px;

            h3 {
                margin-bottom: 27px;
                max-width: 500px;
            }
        
            width: calc(100% - 52px);
        }

        @include tb {
            padding: 68px 60px;

            h3 {
                margin-bottom: 27px;
                max-width: 500px;
            }

            height: 252px;
        
            width: calc(100% - 120px);
        }

        @include sm {
            height: 252px;

            &-1 {
                width: 494px;
            }
            &-2 {
                width: 550px;
            }
            &-3 {
                width: 851px;
            }
        }

        @include lg {
            &-1 {
                width: 494px;
            }
            &-2 {
                width: 550px;
            }
            &-3 {
                width: 851px;
            }
        }
      }
    }
  }
}
</style>