<template>
  <div id="about" class="main">
    <BannerHero title="<span>Firma</span>"/>
    <div class="section-1">
      <div class="container">
        <h2><span>Witamy w </span><span class="color-orange">E-Trust!</span></h2>
        <p>Posiadamy wiedzę niezbędną do realizacji projektów o dużych wymaganiach wizerunkowych, funkcjonalnych i wydajnościowych w obszarach technologii internetowych i strukturalnych. <br/>Wiedza i doświadczenie oparte o technologie:</p>
        <List :items="list" key="about_us_list_1" :type="2" />
      </div>
    </div>
    <Banner1 />
    <Opinions />
    <Clients />
  </div>
</template>

<script>
// import Button from "@/components/Button.vue";
import List from "@/components/List.vue";
import BannerHero from "@/components/BannerHero.vue";
import Banner1 from "@/components/Banner1.vue";

import Opinions from "@/components/about/Opinions.vue";
import Clients from "@/components/about/Clients.vue";

export default {
  name: "About",
  components: {
    BannerHero,
    Banner1,
    // Button,
    List,
    Opinions,
    Clients
  },
  data() {
    return {
      list: [
            'Angular.JS, Architektura REST (+JSON), Ionic, SSO (w tym OAuth), RWD (Responsive Web Design)',
            'Technologie: PHP, Python, C#, HTML5, CSS i SCSS, SVG, ES5, ES6, JavaScript',
            'Infrastruktura: Ubuntu, Debian, FreeBSD, Centos, Redhat (certyfikacja), wirtualizacja (VMWare, XEN, Openstack)'
      ]
    }
  },
};
</script>


<style lang="scss">
@import "@/assets/scss/variables.scss";
#about {
  li{
    color: $gray5;
  }
}
</style>

<style lang="scss">
@import "@/assets/scss/general.scss";

#about {  
  p.opinion{
    @include fontH;

    color: $gray5;
  }
  
  .section-1{
    & > div.container {
      @include width-01();
      
      margin: 50px auto;

      h2{
        font-size: 70px;
        line-height: 100px;
        font-weight: normal;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: $gray5;

        margin-bottom: 30px;
      }
    }
  }
}
</style>
