<template>
  <div id="contact" class="main">
    <BannerHero title="<span>KONTAKT</span>"/>
    <div class="container">
      <h2>NASZE BIURA<span class='color-orange'>.</span></h2>
      <div class="offices">
        <div v-for="(it, i) in offices" :key="'o_i_'+i" v-html="it.html" class="card" :class="it.active ? 'card--active' : ''"></div>
      </div>
      <Map :callback="selectOffice" :offices="offices" />
      <!-- <h2>NAPISZ <br />DO NAS<span class='color-orange'>.</span></h2>
      <CForm /> -->
    </div>
  </div>
</template>

<script>
import BannerHero from "@/components/BannerHero.vue";

import Map from "@/components/contact/Map.vue";
// import CForm from "@/components/contact/CForm.vue";

export default {
  name: "Contact",
  components: {
    BannerHero,
    Map,
    // CForm
  },
  data() {
    return {
      offices: [
        {
          html: ` 
            <h3>REDA</h3>
            
            <p>ul. Ogińskiego 10/15</p>
            <p>84-240 Reda</p>
            
            <a href="tel:222087318">(22) 208 73 18</a>
            
            <a href="mailto:INFO@ETRUST.PL">INFO@ETRUST.PL</a>
            `,
          gMarker: { position: {lat: 54.612522, lng: 18.32963}, icon: require('@/assets/images/map/etrust_fav.png')}
        },
        {
          html: ` 
            <h3>WARSZAWA</h3>
            
            <p>ul. Sowińskiego 53C/15</p>
            <p>01-105 Warszawa</p>
            
            <a href="tel:222087318">(22) 208 73 18</a>
            
            <a href="mailto:INFO@ETRUST.PL">INFO@ETRUST.PL</a>
            `,
          gMarker: { position: {lat: 52.231188, lng: 20.932518}, icon: require('@/assets/images/map/etrust_fav.png') },
        }
      ]
    };
  },
  methods: {
    sleep: function(ms){ return new Promise(resolve => setTimeout(resolve, ms))},
    selectOffice: async function(index){
      this.offices[index].active = true;
      await this.sleep(5000);
      this.offices[index].active = false;

    }
  },
};
</script>


<style lang="scss" scoped>
@import "@/assets/scss/breakpoints.scss";
#contact {
    h2{
      text-align: center;

      font-weight: normal;
      font-size: 70px;
      line-height: 100px;
      
      margin-bottom: 25px;

      @include mb-only{
        margin-bottom: 20px;
      }
  
      br{
        display: none;
        @include mb-only{
          display: inline-block;
        }
      }
    }

    & > div.container {
    
      @include mb{
        padding-top: 50px;
        padding-bottom: 100px;
      }

    }
}
</style>

<style lang="scss">
@import "@/assets/scss/general.scss";
#contact {
  font-style: normal;
  & > div.container {
    @keyframes wave {
      0% {
      margin-left: 0;
      }
      100% {
        margin-left: -1600px;
      }
    }
    .offices{
      display: flex;
      justify-content: center;
      
      @include mb-only{
        flex-direction: column;
      }
      @include mb{
        margin-bottom: 70px;
      }
      @include tb{
        margin-bottom: 50px;
      }
      
      & > .card{
        overflow: hidden;
      
        background: #FFFFFF;
        h3, p, a{
          color: $gray5;
        }
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.039));
        
        &:hover{ //&:nth-of-type(2n)
          background: $gray3;

          h3, p, a{
            color: #FFFFFF;
          }
        }
        &--active{
          // background: $orange;

          // h3, p, a{
          //   color: #000;
          // }


          &::after{
            transition: 1s;
            bottom: 0px !important;
          }
        }

        *{
          z-index: 30;
        }
        
        p, a{
          font-family: Arial;
          font-style: normal;
          font-weight: normal;

          font-size: 14px;
          line-height: 20px;
        }

        
        h3, p, a{
          margin: 0;
          padding: 0;
        }
        
        h3{
          margin-bottom: 10px;
        }
        a{
          margin-top: 20px;

          display: block;
          text-decoration: none;
          // @include fontH;
        }
        p,a{
          font-size: 14px;
          line-height: 20px;
        }

        padding: 43px 50px;
        border-radius: 5px;

        @include mb-only{
          margin-bottom: 20px;

          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
        }
        @include tb{
          margin-right: 30px;

          &:nth-last-of-type(1){
            margin-right: 0;
          }
        }


        &::after{
          z-index: -1;
          transition: 1s;

          content: '';
          background: url('/img/svg/wave.svg') repeat-x; 
          position: absolute;
          // top: 0;
          bottom: -200px;
          left: 0;
          // right: 0;
          width: 6400px;
          height: 198px;
          animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
          // animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s ;
          transform: translate3d(0, 0, 0);

          svg{
            fill: #000;
          }
        }
      }
    }
  }
}
</style>
