<template>
    <div id="error-page" class="main">
        <div class="container" v-if="errorCode == 404">
            <Error404 class="svg-404" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1074.392 584.231"/>
            <div>
                <h1>Hmmm... nie ma takiej strony</h1>
                <p></p>

                <Button 
                    text="Wróć do strony głównej" 
                    :type="1"
                    altClass="btn-orange-why-us" 
                    href="/" 
                />
            </div>
        </div>
    </div>
</template>

<script>
    
// images
import Error404 from "@/assets/svg/undraw_page_not_found_su7k.svg?inline"
import Button from "@/components/Button.vue";

export default {
    components: {Error404,Button},
    props: ['errorCode']
}
</script>

<style lang="scss">
@import '@/assets/scss/breakpoints.scss';
@import '@/assets/scss/variables.scss';

#error-page{
    background: #fff;

    @include mb{
        padding-top: 25vh;
        padding-bottom: 35vh;
    }
    @include tb{
        padding-top: 20vh;
        padding-bottom: 35vh;
    }
    @include sm{
        padding-top: 150px;
        padding-bottom: 100px;
    }

    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &>div{
            margin-top: 50px;

            a{
                margin: 0 auto;
            }
        }

        .svg{
            &-404{
                @include mb{
                    height: 20vh;
                }
                @include tb{
                    height: 25vh;
                }
                @include sm{
                    height: 400px;
                }
                width: auto;

                path{
                    &:nth-of-type(2),&:nth-of-type(10),&:nth-of-type(13){
                        fill: $orange;
                    }
                }
                // circle{
                //     &:nth-of-type(1){
                //         fill: #000;
                //     }
                // }
            }
        }

    }
}
</style>