<template>
  <div id="home" class="main">
    <BannerHero />
    <div
      class="section-2"
      :style="{
        '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/pattern-1-bck-large.png')) + '\')',
        '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/pattern-1-bck-mobile.png')) + '\')',
      }"
    >
    <Solutions />
    </div>
    <div class="section-3">
      <div class="container">
        <div>
          <div class="dec-1"></div>
          <div
            class="img-1 img"
            :style="{
              '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/woman-img-large.png')) + '\')',
              '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/woman-img-mobile.png')) + '\')',
            }"
          ></div>
          <div
            class="img-2 img"
            :style="{
              '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/meet-img-large.png')) + '\')',
              '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/meet-img-mobile.png')) + '\')',
            }"
          ></div>
        </div>
        <div>
          <h2>DLACZEGO E-TRUST<span class="color-orange">?</span></h2>
          <p class="color-orange">
            Potrafimy realizować wizje integrujące różne aspekty projektów
            informatycznych.<br />Rozumiemy i wspieramy Biznes
          </p>
          <List :items="whyWe" key="why_we" :type="1" />
          <Button text="Zobacz więcej" :type="1" altClass="btn-orange-why-us" href="/firma" />
        </div>
      </div>
      <div class="dec-2"></div>
    </div>
    <div class="section-4">
      <div class="container">
        <h2>SPRAWDŹ NAS<span class="color-orange">.</span></h2>
        <div
          class="slider slider-01"
          :style="{
            '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/banner-2-bck-large.png')) + '\')',
            '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/banner-2-bck-mobile.png')) + '\')',
          }"
        >
          <div class="content">
            <svg width="429" height="490" fill="none" xmlns="http://www.w3.org/2000/svg" class="decoration-1">
              <circle cx="245" cy="245" r="245" fill="#212329" fill-opacity="0.2"/>
            </svg>
            <svg width="379" height="454" fill="none" xmlns="http://www.w3.org/2000/svg" class="decoration-2">
              <circle cx="227" cy="227" r="227" fill="#F56400"/>
            </svg>
            <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg" class="decoration-3">
              <circle cx="55" cy="55" r="45" fill="#1B1D21"/>
              <circle cx="55" cy="55" r="54.5" stroke="#1B1D21" stroke-opacity="0.3"/>
              <path d="M68.0105 51.674L43.949 37.449C41.994 36.2937 39 37.4148 39 40.2721V68.7153C39 71.2786 41.7821 72.8235 43.949 71.5384L68.0105 57.3202C70.1569 56.0556 70.1638 52.9386 68.0105 51.674Z" fill="white"/>
            </svg>

            <h3>TWOJA WIZJA<br />NASZ SYSTEM</h3>
            <Button text="czytaj więcej" :type="2" href="/firma" />
          </div>
        </div>
      </div>
      <div
        class="dec-2"
        :style="{
          'background-image':
            'url(\'' + webp(require('@/assets/images/backgrounds/bg-linie 1.png')) + '\')',
        }"
      ></div>
    </div>
    <div class="section-5">
      <div>
        <h2>Realizacje<span class="color-orange">.</span></h2>
        <Realizations :realizations="realizations" :callback="selectRealization"/>
      </div>
    </div>
    <div class="section-6">
      <div class="container">
        <Numbers />
        <div class="info info-1">
          <h2>DOSTARCZAMY SPRAWDZONE <br />ROZWIĄZANIA</h2>
        </div>
        <div class="info info-3">
          <div
            class="item"
            v-for="( item, i ) in list3"
            :key="'i_3_' + i"
          >
            <span class="font-h">{{ i + 1 }}</span>
            <p class="font-p">{{ item }}</p>
          </div>
        </div>
        <div class="info info-2">
          <h2>
            PRACUJMY DLA LIDERÓW <br />Z RÓŻNYCH BRANŻ<span class="color-orange"
              >.</span
            >
          </h2>
          <h3>
            Wdrożyliśmy i z sukcesem użytkujemy produkty <br />Atlassian, m.in.:
          </h3>
          <List :items="list2" key="section_6_list" :type="1" />
        </div>
        <div class="dec dec-1"></div>
      </div>
      <div
        class="bck"
        :style="{
          '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/numbers-bck-large.png')) + '\')',
          '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/numbers-bck-mobile.png')) + '\')',
        }"
      ></div>
      <div class="darker"></div>
      <div class="dec dec-2"></div>
    </div>
    <Banner1 />
    <div class="section-8">
      <div class="container">
        <Logos />
      </div>
    </div>
  </div>
</template>

<script>
import Numbers from "@/components/home/Numbers.vue";
import Logos from "@/components/home/Logos.vue";
import Solutions from "@/components/home/Solutions.vue";
import Realizations from "@/components/Realizations.vue";
import BannerHero from "@/components/BannerHero.vue";

import Button from "@/components/Button.vue";
import List from "@/components/List.vue";
import Banner1 from "@/components/Banner1.vue";

export default {
  name: "Home",
  components: {
    BannerHero,
    Button,
    Numbers,
    List,
    Logos,
    Solutions,
    Realizations,
    Banner1
  },
  data() {
    return {
      whyWe: [
        "ponad 15 lat doświadczenia",
        "kompetentny i zgrany zespół specjalistów",
        "realizacja projektów całkowicie przez nas",
        "sprawdzony proces wytwarzania oparty o narzędzia Atlassian",
        "stale aktualizowane technologie",
        "wiedza w zakresie wysokowydajnych systemów i ich optymalizacji",
        "bezpieczeństwo systemów i danych",
      ],
      list2: [
        "BitBucket – repozytorium kodów źródłowych",
        "Jira Service Desk – system zadań z portalem Klienta",
        "Confluence – Repozytorium dokumentów",
        "Jira Portfolio - planowanie i grafiki prac",
      ],
      list3: [
        "SZEROKIE OBSZARY INTEGRACJI",
        "BEZPIECZEŃSTWO PRZETWARZANIA I UTRzYMANIA DANYCH",
      ],
    };
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";
#home {
  font-style: normal;

  h2, .font-h {
    text-transform: uppercase;
    font-weight: 500;
    
    @include mb {
      margin-bottom: 10px;
      
      font-size: 36px;
      line-height: 52px;
    }
    @include md {
      margin-bottom: 0;
    }
  }
  h3 {
    font-weight: 500;
    @include mb{
      font-size: 18px;
      line-height: 23px;
    }
    @include tb{
      font-size: 21px;
      line-height: 29px;
    }
    @include md{
      font-size: 23px;
    }
  }
  p, .font-p {
    font-weight: 500;
    
    @include mb{
      font-size: 16px;
      line-height: 23px;
    }
    @include md{
      font-size: 18px;
      line-height: 26px;
    }
  }

  .section {
    &-2,
    &-3,
    &-4,
    &-6,
    &-8,
    &-9,
    &-7 {
      & > div.container {
        @include width-01();
      }
    }
    &-1 {} // banner
    &-2 {
      background-color: $gray1;

      background-image: var(--bg-large-image);

      @include mb-only{
        background-image: var(--bg-mobile-image);
        background-repeat: repeat-y;
      }

      color: #ffffff;
      
      @include mb {
       padding: 60px 0;
      }
      @include tb {
       padding: 90px 0;
      }
      @include lg {
       padding: 128px 0;
      }
    }
    &-3 {
      background-color: #fff;

      position: relative;

      color: #000;
      
      @include mb {
        padding: 30px 0;
      }
      @include tb {
        padding: 90px 0;
      }
      @include lg {
        padding: 101px 0;
      }

      .dec-2 {
        background: #f3f5f7;
        border-radius: 0px 0px 10px 0px;

        position: absolute;
        top: 0;
        left: 0;
        // bottom: 0;
        z-index: 99;

        margin: 0;
        

        @include mb{} // none
        @include tb {
          width: 363px;
          height: 587px;
        }
        @include lg {
          width: 560px;
          height: 880px;
        }
      }

      & > div.container {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;

        // space between childs
        $space-md: 50px;
        $space-lg: 80px;
        
        @include mb {
          display: grid;
          grid-template-columns: auto;
          grid-template-areas: "." "decorations";
        }
        @include md {
          display: grid;
          grid-template-columns: 50% 50%;
        }

        & > div {
          &:nth-of-type(1) {
            position: relative;
            
            // dec-1
            $dec-1-h: 290px;
            $dec-1-w: 20px;
            $dec-1-m-b: 69px;

            // img-1
            $img-1-h: 510px;
            $img-1-w: 470px;

            // img-2
            $img-2-h: 295px;
            $img-2-w: 420px;

            // this div
            $div-1-h: 655px + 20px;
            $div-1-w: 614px;

            @mixin div-1{
              width: $div-1-w;
            }

            @include mb-only{
              width: 100%;
            }
            @include tb-only{
              @include div-1;
            }
            @include sm-only{
              @include div-1;
            }

            @include mb-only{
              grid-area: decorations;
            }

            @include tb {
              height: $div-1-h;
              @include md {
                margin-right: $space-md/2;
              }
              @include lg {
                margin-right: $space-lg/2;
              }
            }
            
            // images
            .img,
            .dec-1 {
              @include tb{
                position: absolute;
              }
            }
            .dec-1 {
              border-radius: 99px;
              background: $orange;

              @include tb{
                height: $dec-1-h;
                width: $dec-1-w;
              }
            }

            .img {
              border-radius: 10px;
              background-size: cover;
              @include mb-only{
                margin-left: auto;
                margin-right: auto;
              }
              &-1 {
                background-image: var(--bg-large-image);

                @include mb-only{
                  background-image: var(--bg-mobile-image);
                }

                @include mb-only{
                  width: 283.1px;
                  height: 307.19px;
                  margin-top: 37px;
                }
                @include tb{
                  top: 0;
                  right: 0;

                  height: $img-1-h;
                  width: $img-1-w;
                }
              }
              &-2 {
                background-image: var(--bg-large-image);

                @include mb-only{
                  background-image: var(--bg-mobile-image);
                }
                
                @include mb-only{
                  width: 289.78px;
                  height: 203.54px;
                  margin-top: 20px;
                }
                @include tb{
                  left: 0;
                  top: $dec-1-m-b + $dec-1-h;

                  height: $img-2-h;
                  width: $img-2-w;
                }
              }
            }
          }
          &:nth-of-type(2) {

            // div-2 with content
            $div-2-w: 496px;

            @mixin div-2{
              margin-left: auto;
              margin-right: auto;

              @include tb{
                h2{
                  text-align: center;
                }
                width: $div-2-w;

              }
            }

            @include mb-only{
              @include div-2;
            }
            @include tb-only{
              @include div-2;
            }
            @include sm-only{
              @include div-2;
            }
            @include md {
              margin-left: $space-md/2;
            }
            @include lg {
              margin-left: $space-lg/2;
            }
            
            // text
            h2 {
              font-weight: 500;
            }
            p {
              font-weight: 500;
              @include fontH;
              
              @include mb {
                margin-bottom: 20px;
              }
              @include tb {
                margin-bottom: 17px;
              }
              @include md {
                margin-bottom: 32px;
              }
            }

            a.btn {
              @mixin div-2-btn{
                margin-left: auto;
                margin-right: auto;
              }
              @include mb-only{
                @include div-2-btn;
              }
              @include tb-only{
                @include div-2-btn;
              }
              @include sm-only{
                @include div-2-btn;
              }
              @include mb {
                margin-top: 30px;
              }
              @include tb {
                margin-top: 35px;
              }
              @include md {
                margin-top: 108px;
              }
            }
          }
        }
      }
    }
    &-4 {
      position: relative;
      color: #000;
      background: #fff;

      @include mb {
        padding: 50px 0 60px 0;
      }
      @include tb {
        padding: 40px 0 60px 0;
      }
      @include sm {
        padding: 40px 0 100px 0;
      }

      .dec-2 {
        background: #f3f5f7;
        border-radius: 0px 0px 10px 0px;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;

        margin: 0;
        
        @include mb {
          height: 200px;
        }
      }

      & > div.container {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;

        h2 {
          text-align: center;
        }

        .slider {
          &-01 {
            background-image: var(--bg-large-image);

            @include mb-only{
              background-image: var(--bg-mobile-image);
              background-repeat: repeat-y;
            }


            width: 100%;
            border-radius: 10px;

            position: relative;
            
            background-size: cover;
            
            overflow: hidden;

            $slider-01-h-mb: 424px;
            $slider-01-h-md: 520px;

            $slider-01-content-w-mb: 240px;
            $slider-01-content-w-tb: 360px;
            $slider-01-content-w-md: 460px;

            $slider-01-decoration-1-h-mb: 384px;
            $slider-01-decoration-1-h-tb: 490px;

            $slider-01-decoration-2-h-mb: 356px;
            $slider-01-decoration-2-h-tb: 454px;

            $slider-01-decoration-3-h-mb: 86px;
            $slider-01-decoration-3-h-tb: 110px;

            $slider-01-h3-t-mb: 173px;
            $slider-01-h3-t-tb: 220px;
            $slider-01-h3-l-mb: 85px;
            $slider-01-h3-l-tb: 108px;

            $slider-01-a-t-mb: 262px;
            $slider-01-a-t-tb: 354px;
            $slider-01-a-l-mb: 151px;
            $slider-01-a-l-tb: 226px;

            $slider-1-height-xxs: 160px;
            $slider-1-height-xs: 195px;
            $slider-1-height-sm: 279px;
            $slider-1-height-md: 404px;
            $slider-1-height-lg: 520px;
                        
            @include mb {
              height: $slider-01-h-mb;
            }
            @include md {
              height: $slider-01-h-md;
            }

            .content {
              position: absolute;
              right: 0;
              top: 0;
              
              @include mb-only{
                top: 109px;
              }
              @include mb {
                min-width: $slider-01-content-w-mb;
                min-height: $slider-01-h-mb;
              }
              @include tb {
                min-width: $slider-01-content-w-tb;
                min-height: $slider-01-h-mb;
              }
              @include md {
                min-width: $slider-01-content-w-md;
                min-height: $slider-01-h-md;
              }

              display: flex;
              flex-direction: column;

              svg {
                position: absolute;

                &.decoration-1{
                  height: 100%;
                  width: unset;

                  @include mb {
                    height: $slider-01-decoration-1-h-mb;
                    width: $slider-01-decoration-1-h-mb;
                  }
                  @include tb {
                    height: $slider-01-decoration-1-h-tb;
                    width: $slider-01-decoration-1-h-tb;
                  }
                }
                &.decoration-2{
                  width: unset;

                  @include mb {
                    left: 39px;
                    top: 40px;
                    height: $slider-01-decoration-2-h-mb;
                    width: $slider-01-decoration-2-h-mb;
                  }
                  @include tb {
                    left: 50px;
                    top: 51px;
                    height: $slider-01-decoration-2-h-tb;
                    width: $slider-01-decoration-2-h-tb;
                  }
                }
                &.decoration-3{
                  width: unset;

                  @include mb {
                    top: 37px;
                    left: 41px;
                    height: $slider-01-decoration-3-h-mb;
                    width: $slider-01-decoration-3-h-mb;
                  }
                  @include tb {
                    top: 50px;
                    left: 50px;
                    height: $slider-01-decoration-3-h-tb;
                    width: $slider-01-decoration-3-h-tb;
                  }
                }
              }

              h3 {
                position: absolute;

                font-weight: 500;

                @include mb {
                  top: $slider-01-h3-t-mb;
                  left: $slider-01-h3-l-mb;

                  font-size: 24px;
                  line-height: 40px;
                }
                @include tb {
                  top: $slider-01-h3-t-tb;
                  left: $slider-01-h3-l-tb;

                  font-size: 36px;
                  line-height: 40px;
                }
              }

              a {
                position: absolute;

                font-weight: 500;

                text-transform: uppercase;
                
                @include mb {
                  top: $slider-01-a-t-mb;
                  left: $slider-01-a-l-mb;

                  font-size: 14px;
                  line-height: 40px;
                }
                @include tb {
                  top: $slider-01-a-t-tb;
                  left: $slider-01-a-l-tb;

                  font-size: 18px;
                  line-height: 40px;
                }
              }
            }
          }
        }
      }
    }
    &-5 {
      color: #000;
      background: #fff;
      
      @include mb {
        padding: 50px 0;
      }
      @include tb {
        padding: 90px 0;
      }
      @include lg {
        padding: 50px 0;
      }
      & > div {
        @include width-01();

        h2 {
          text-align: left;
          
          @include xs-max {
            text-align: center;
          }
        }
      }
    }
    &-6 { 
      position: relative;
      
      // variables sec 6
      $s-6-n-h-mb: 664px;
      $s-6-n-h-tb: 532px;
      $s-6-n-h-sm: 285px;

      $s-6-b-h-sm: 570px;

      $s-6-a-h-sm: 830px + 30px;
      

      $radius: 10px;

      background: #fff;

      @include tb {
        
      }
      @include sm {
        height: $s-6-a-h-sm;
      }

      @mixin s2(){
        @include sm {
          position: absolute;

          top: $s-6-n-h-sm;
        }
      }
      @mixin s3(){
        @include sm {
          padding-top: 92px;
        }
      }

      .bck, .darker{
        @include mb {
          height: $s-6-n-h-mb;
        }
        @include tb {
          height: $s-6-n-h-tb;
        }
        @include sm {
          height: $s-6-b-h-sm;
        }

        background-size: cover;
      }
      .bck {
        z-index: 98;

        
        background-image: var(--bg-large-image);

        @include mb-only{
          background-image: var(--bg-mobile-image);
        }
      }

      & > div.container {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;

        & > div.info {
          
          @include mb-only {
            position: relative;
          }

          &-1 {
            background: $orange;

            display: flex;
            align-items: center;
            justify-content: center;

            @include s2;

            @include mb-only{
              margin-top: 20px;
              height: 53px;
              border-radius: 10px 10px 0 0;
              padding-bottom: 17px;
            }
            @include tb-only{
              height: 100px;
              padding-bottom: 30px;
              border-radius: 10px 10px 0 0;
            }

            @include sm{
              height: $s-6-b-h-sm - $s-6-n-h-sm;
              padding-bottom: 30px;

              right: calc(50% + 22px);
              left: 0;
              border-radius: $radius $radius 0 0;
            }
            
            h2{
              margin-bottom: 0;
              @include mb-only{
                font-size: 18px;
                line-height: 26px;
              }
              br{
                @include mb-only {
                  display: none;
                }
                @include tb-only {
                  display: none;
                }
              }
            }
          }
          &-2 {
            background: #fff;

            h2,
            h3 {
              @include mb-only{
                text-align: center;
              }
              @include sm {
                margin-bottom: 22px;
                text-transform: uppercase;
              }

              br{
                @include mb-only {
                  display: none;
                }
                @include tb-only {
                  display: none;
                }
                @include sm-only {
                  display: none;
                }
              }
            }
            h2{
              
            }
            h3 {

            }
            
            ul{
              @include mb {
                margin-top: 20px;
              }
              
              li{
                @include fontH;
              }
            }
            
            @include s2;
            @include s3;
            
            @include mb-only{
              padding-bottom: 70px;
            }
            @include tb-only{
              width: 550px;
              margin: 0 auto;
              padding-bottom: 90px;
            }
            @include sm{
              left: 50%;
              width: calc(50vw);
              
              border-radius: $radius 0 0 0;

              padding-left: 30px;
            }
            @include md{
              padding-left: 109px;
            }
          }
          &-3 {
            position: relative;

            background: #fff;

            display: flex;
            flex-direction: column;

            @include fontH;

            @include mb-only{
              position: relative;
              top: -17px;
              border-radius: 17px 0 0 0;

            }
            @include tb-only{
              position: relative;
              top: -30px;
              border-radius: 30px 0 0 0;
              padding-top: 10px;
            }

            @include sm{
              position: absolute;

              left: -1px;
              right: 50%;
              border-radius: 30px 0 0 0;
              top: $s-6-b-h-sm;
            }
            @include md{
              
            }

            .item {
              border-bottom: 1px solid rgba(33, 35, 41, 0.2);

              display: grid;
              grid-template-columns: 70px auto;
              align-items: center;

              @include mb{
                height: 105px;
              }
              @include tb{
                height: 130px;
              }
              
              span, p{
                margin-bottom: 0;
              }

              span {
                display: block;
                text-align: center;

                background: rgba(245, 100, 0, 0.2);

                color: $orange;

                border-radius: 100%;

                @include mb{
                  height: 50px;
                  width: 50px;
                  margin-right: 20px;
                
                  font-weight: 500;
                  font-size: 36px;
                  line-height: 55px;
                }
              }

              p {
                text-transform: uppercase;
                font-weight: normal;
                
                @include fontH;
                @include mb{
                  font-size: 18px;
                  line-height: 26px;
                }
                @include tb{
                  font-size: 24px;
                  line-height: 34px;
                }
              }
            }
          }
        }
      }
    }
    &-8 { 
      background: #fff;
      & > div.container {
        @include mb-only{
          left: -82px;
          position: relative;
          width: 524px;
        }
        @include tb{
          width: 100%;
        }
        @include sm{
          width: 100%;
        }
      }
    }
  }
}
</style>
