<template >
  <div id="realizations" class="main">
    <BannerHero title="<span>Wybrane realizacje</span>" :class="'banner-hero--title-smaller'" />
    <div class="container">
      <Realizations :routeProps="$route.params" />
    </div>
  </div>
</template>

<script>
import BannerHero from "@/components/BannerHero.vue";
import Realizations from "@/components/Realizations.vue";

export default {
  name: "RealizationsView",
  components: {
    BannerHero,
    Realizations
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/breakpoints.scss";

#realizations {
  font-style: normal;

  & > div.container{
    padding-top: 50px;

    @include mb{
      padding-bottom: 100px;
    }
    @include lg{
      padding-bottom: 60px;
    }
  }

}
</style>
