<template>
  <div id="requests" class="main">
    <BannerHero title="<span>Zapytania ofertowe</span>"/>
    <div class="section-1">
      <div class="container">
        <h1>Zapytanie ofertowe warunkowe nr 01/06/2021 (2021-06-22)</h1>
        <p>
            Dotyczy planowanej realizacji projektu pod tytułem 
            „Inteligentny chmurowy system przetwarzania mowy wraz z wynikami badań diagnostycznych i parametrów klinicznych pacjentów”,
            Strategicznego Programu Badań Naukowych i Prac Rozwojowych 
            „Zaawansowane technologie informacyjne telekomunikacyjne i mechatroniczne”, 
            o którego dofinansowanie Spółka E-TRUST stara się w ramach 
            konkursu INFOSTRATEG 2.
        </p>
        <h2>Zapytanie ofertowe warunkowe INFOSTRATEG 2</h2>
        <div class="files">
            <a href="/files/zapytanie ofertowe warunkowe INFORSTRATEG 2 2.pdf" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-pdf-solid.png">
                    <p>Zapytanie ofertowe INFOSTRATEG 2</p>
                </div>
            </a>
            <a href="/files/Załącznik nr 1 - Formularz Ofertowy INFOSTRATEG 2 .pdf" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-pdf-solid.png">
                    <p>Załącznik nr 1 - Formularz Ofertowy INFOSTRATEG 2</p>
                </div>
            </a>
            <a href="/files/Załącznik nr 1 - Formularz Ofertowy INFOSTRATEG 2 .docx" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-word-solid.png">
                    <p>Załącznik nr 1 - Formularz Ofertowy INFOSTRATEG 2</p>
                </div>
            </a>
            <a href="/files/Załącznik nr 2 - Oświadczenie o spełnieniu warunków udziału w postępowaniu INFOSTATEG 2 .pdf" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-pdf-solid.png">
                    <p>Załącznik nr 2 - Oświadczenie o spełnieniu warunków udziału w postępowaniu INFOSTRATEG 2</p>
                </div>
            </a>
            <a href="/files/Załącznik nr 2 - Oświadczenie o spełnieniu warunków udziału w postępowaniu INFOSTATEG 2 .docx" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-word-solid.png">
                    <p>Załącznik nr 2 - Oświadczenie o spełnieniu warunków udziału w postępowaniu INFOSTRATEG 2</p>
                </div>
            </a>
            <a href="/files/Załącznik nr 3 - Oświadczenie o braku powiązań INFOSTRATEG 2 .pdf" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-pdf-solid.png">
                    <p>Załącznik nr 3 - Oświadczenie o braku powiązań INFOSTRATEG 2</p>
                </div>
            </a>
            <a href="/files/Załącznik nr 3 - Oświadczenie o braku powiązań INFOSTRATEG 2 .docx" download>
                <div class="file">
                    <img src="@/assets/images/zapytania-ofertowe/file-word-solid.png">
                    <p>Załącznik nr 3 - Oświadczenie o braku powiązań INFOSTRATEG 2</p>
                </div>
            </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BannerHero from "@/components/BannerHero.vue";

export default {
  name: "Requests",
  components: {
    BannerHero
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";

#requests {
  
  .section-1{
      background: #fff;
    & > div.container {

      @include width-01();
      
      margin: 0 auto;
      padding: 50px 0;


      p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: $gray5;
      }

      h2{
        font-size: 1.5rem;
        margin: 1.2em 0;
      }

      .files{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 20px;
          @include xs-max {
              grid-template-columns: 1fr;
          }
          a{
              text-decoration: none;
              .file{
                  text-align: center;
                  padding: 30px 20px;
                  img{
                      width: 60px;
                      margin: 0 0 20px 0;
                  }

                  p{
                      font-size: 18px;
                  }
              }

              &:hover {
                  opacity: .6;
              }
          }
      }
    }
  }
}
</style>
