<template >
  <div id="services" class="main">
    <BannerHero title="<span>USŁUGI</span>"/>
    <Solutions />
  </div>
</template>

<script>
import BannerHero from "@/components/BannerHero.vue";
import Solutions from "@/components/services/Solutions.vue";

export default {
  name: "Services",
  components: {
    BannerHero,
    Solutions
  },
};
</script>