<template>
  <swiper
    :slides-per-view="slidesPerView"
    slidesPerView="auto"
    autoplay
    loop
    centeredSlides
    id="logos"
    :breakpoints="{
      360: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 5,
      },
      1440: {
        slidesPerView: 7,
      }
    }"
  >
    <swiper-slide v-for="(i, index) in items" :key="index+'_s'"  v-slot="{ isActive }">
        <img :src="(isActive ? i.img1 : i.img)" alt="">
    </swiper-slide>
  </swiper>
</template>

<script>
// autoplay
  import { Swiper, SwiperSlide } from 'swiper/vue'
  import 'swiper/swiper.scss'
  
  import SwiperCore, { Autoplay } from 'swiper/core'
  SwiperCore.use([Autoplay])

export default {
  name: "Logos",
  components: {
    Swiper,
    SwiperSlide
  },
  data() {
    return {
      items: [],
    };
  },
  beforeMount() {
    for (let index = 0; index < 11; index++) {
      this.items.push({
        img: this.webp(require("@/assets/images/clients-etrust/" + (index + 1) + ".png")),
        img1: this.webp(require("@/assets/images/clients-etrust/" + (index + 1) + "-color.png")),
      });
    }
  },
};
</script>
<style lang="scss">
@import "@/assets/scss/general.scss";
#logos{
  $el-w-mb: 164px;
  $el-w-sm: 240px;

  .swiper-slide{
    @include mb{
      padding: 30px 0;
    }
    @include sm{
      padding: 50px 0;
    }

    img{
      @include mb{
        width: $el-w-mb;
        height: 54px;
        margin: 0 auto;
        display: block;
      }
      @include sm{
        width: $el-w-sm;
        height: 80px;
      }
    }
  }
}

</style>