<template>
  <div id="numbers">
    <div
      class="item"
      v-for="(item, index) in elements"
      :key="'n_e_' + index"
      @click="selectItem(index)"
      :class="
        selectedIndex == index
          ? 'item--selected ' + 'item--side-' + side
          : lastIndex == index
          ? 'item--last-selected ' + 'item--last-side-' + side
          : ''
      "
    >
      <!-- <AnimatedNumber :value="item.number" :formatValue="formatToPrice" :duration="3000" /> -->
      <span>{{ item.number }}</span>
      <span>{{ item.title }}</span>
      <div
        class="p p-r"
        @mouseenter="selectItem(index, 'r', true)"
        @mouseleave="selectItem(index, 'l', false)"
      ></div>
      <div
        class="p p-l"
        @mouseenter="selectItem(index, 'l', true)"
        @mouseleave="selectItem(index, 'r', false)"
      ></div>
      <div
        class="p p-c"
        @mouseenter="selectItem(index, 'c', true)"
        @mouseleave="selectItem(index, 'c', false)"
      ></div>
      <!-- <div class="line-vertical-mobile line-vertical-mobile-1"></div>
      <div class="line-vertical-mobile line-vertical-mobile-2"></div> -->
      <div class="line-horizontal-mobile line-horizontal-mobile-1"></div>
      <div class="line-horizontal-mobile line-horizontal-mobile-2"></div>
    </div>
  </div>
</template>

<script>
// import AnimatedNumber from "./AnimatedNumber";
//TODO animations
export default {
  name: "Numbers",
  // components: {
  //   AnimatedNumber,
  // },
  data() {
    return {
      selectedIndex: 1,
      lastIndex: null,
      side: null,
      elements: [
        {
          title: "rok założenia",
          number: 2006,
        },
        {
          title: "ZAKOŃCZONYCH PROJEKTÓW",
          number: 250,
        },
        {
          title: "KUBKÓW KAWY",
          number: 52800,
        },
        {
          title: "ZADOWOLONYCH KLIENTÓW",
          number: 85,
        },
      ],
    };
  },
  methods: {
    selectItem: function (index, side, enter) {
      if (enter && this.selectedIndex != index) {
        this.lastIndex = this.selectedIndex;
        this.selectedIndex = index;
        this.side = side;
      }
    },
    // formatToPrice(value) {
    //   return value.toFixed(0);
    // },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
#numbers { // started 2021-02-12 - finished 2021-02-18
  // variables sec 6
  $s-6-n-h-mb: 664px;
  $s-6-n-h-tb: 532px;
  $s-6-n-h-sm: 198px; // 285px
  
  @include mb {
    display: flex;
    flex-direction: column;
  }
  @include mb {
    height: $s-6-n-h-mb;
  }
  @include tb-only{
    padding-top: 10px;
    padding-bottom: 10px;
    height: $s-6-n-h-tb;
  }
  @include tb {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include sm {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }


  .item {
    cursor: default;
    position: relative;
    @include sm {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
    &:nth-of-type(4) {
      @include sm {
        border-right: none;
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include mb {
      height: $s-6-n-h-mb / 4;
    }
    @include tb {
      height: $s-6-n-h-tb / 2;
    }
    @include sm {
      height: $s-6-n-h-sm;
      justify-content: flex-end;
    }

    span {
      @include fontH;
      &:nth-of-type(1) {
        color: #ffffff;

        font-weight: 600;
        
        @include mb {
          font-size: 36px;
          line-height: 52px;
        }
      }
      &:nth-of-type(2) {
        color: #999b9f;

        font-weight: normal;

        @include mb {
          font-size: 18px;
          line-height: 26px;
          margin-top: 20px;
        }
      }
    }

    &--selected::after {
      @include sm {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 5px;
        content: "";
        background: $orange;
      }
    }

    $anim_duration: 0.3s;

    &--side-l {
      &::after {
        animation: slide-left $anim_duration ease-in;
      }
    }
    &--side-r {
      &::after {
        animation: slide-right $anim_duration ease-in;
      }
    }

    &--last-side-l {
      &::after {
        transform: translateX(100%);
        animation: slide-right-out $anim_duration ease-in;
      }
    }
    &--last-side-r {
      &::after {
        transform: translateX(-100%);
        animation: slide-left-out $anim_duration ease-in;
      }
    }

    @keyframes slide-right {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes slide-left {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes slide-right-out {
      0% {
        transform: translateX(0);
        background: $orange;
      }
      100% {
        transform: translateX(100%);
        background: $orange;
      }
    }
    @keyframes slide-left-out {
      0% {
        transform: translateX(0);
        background: $orange;
      }
      100% {
        transform: translateX(-100%);
        background: $orange;
      }
    }

    .p {
      position: absolute;
      z-index: 102;
      $space: 30px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &-r {
        right: 0;
        left: unset !important;
        width: $space;
      }
      &-l {
        left: 0;
        right: unset !important;
        width: $space;
      }
      &-t {
        top: 0;
        bottom: unset !important;
        height: $space;
      }
      &-b {
        bottom: 0;
        top: unset !important;
        height: $space;
      }
      &-c {
        bottom: 0;
        top: 0;
        left: $space;
        right: $space;
      }
    }
    
    $line-width: 1px;
    $space-between-h: 41px;
    $space-between-v: 10px;
    
    @include tb {
      &:nth-of-type(1){
        .line-horizontal-mobile-1{
          display: none;
        }
      }
      &:nth-of-type(2){
        .line-horizontal-mobile-1{
          display: none;
        }
      }
      &:nth-of-type(3){
        .line-horizontal-mobile-2{
          display: none;
        }
      }
      &:nth-of-type(4){
        .line-horizontal-mobile-2{
          display: none;
        }
      }
      
      .line-horizontal-mobile{
        left: $space-between-h;
        right: $space-between-h;
        
        &-1{
          top: 0;
          height: $line-width;
        }
        &-2{
          bottom: 0;
          height: $line-width;
        }
      }
    }
    
    
    
    .line-horizontal-mobile{
      @include mb-only{
        position: absolute;
      } 
      @include tb-only{
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
</style>