<template>
  <div class="container" id="solutions">
    <div class="info">
      <h2>
        OFERUJEMY SPRAWDZONE<br /> ROZWIĄZANIA<span class="color-orange">.</span>
      </h2>
      <p>
        Wszystko zaczyna się od pomysłu który potrzebuje kogoś kto go zrealizuje
        i rozwinie.
      </p>
    </div>
    <div
      v-for="(item, i) in servicesList1"
      class="item"
      :key="'item' + i"
      :ref="'item' + i"
      @mouseenter="(e) => checkPosition(e, 'item' + i, true, i)"
      @mouseleave="(e) => checkPosition(e, 'item' + i, false, i)"
    >
      <div class="bck"></div>
      <span>0{{ i + 1 }}</span>
      <div v-html="item.svg1" class="svg" v-if="selectedIndex == i"></div>
      <div v-html="item.svg" class="svg" v-else></div>
      <p v-html="item.title" :class="selectedIndex == i ? 'active' : ''"></p>
      <svg width="99" height="112" viewBox="0 0 99 112" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M98.4043 97.7962C97.5906 104.722 86.9891 110.316 73.5003 111.088H0L98.409 0C98.4392 0.270528 98.4546 0.543079 98.4546 0.817444V72.9651L98.4043 97.7962Z" fill="#212329" fill-opacity="0.2"/>
      </svg>

    </div>
  </div>
</template>
		
<script>
import { mapState } from 'vuex'
export default {
  name: "Solutions",
  data() {
    return {
      selectedIndex: null,
      lastIndex: null,
      side: null,
      cursorOut: true,
    };
  },
  computed: {
    ...mapState({
      servicesList1: state => state.servicesList
    })
  },
  methods: {
    checkPosition: function (ev, refname, mouse_in, el_index) {
      const { width, height, top, left } = this.$refs[refname].getBoundingClientRect(),
      l = ev.pageX - (left + window.pageXOffset),
      t = ev.pageY - (top + window.pageYOffset),
      x = (l - (width/2) * (width > height ? (height/width) : 1)),
      y = (t - (height/2) * (height > width ? (width/height) : 1));
      let op = Math.round(Math.atan2(y, x) / 1.57079633 + 5) % 4;
      
      this.$refs[refname].classList.value = "item animation-"+(mouse_in ? 'in' : 'out')
      this.selectedIndex = mouse_in ? el_index : null;
      
      switch (op) {
        case 3: //left
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-left";
          break;
        case 1: //right
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-right";
          break;
        case 0: //top
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-top";
          break;
        case 2: //bottom
          this.$refs[refname].classList.value += " animation-"+(mouse_in ? 'in' : 'out')+"-bottom";
          break;
      
        default:
          break;
      }
    },
  },
};
</script>


<style lang="scss">
@import "@/assets/scss/general.scss";
.container#solutions {
  display: grid;
  
  @include mb-only{
    grid-gap: 30px;

    grid-template-columns: 330px;
    grid-template-areas: "info" "." "." "." "." "." ".";
    
    width: 330px;

    margin-left: auto;
    margin-right: auto;
  }
  @include tb{
    grid-gap: 36px;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info info" ". ." ". ." ". .";
  }
  @include sm{
    grid-gap: 30px;
  }
  @include md{
    grid-gap: 30px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "info info . ." ". . . .";
  }

  .info {
    position: relative;
    grid-area: info;

    h2 {
      font-weight: 500;
      margin-bottom: unset;
      
      @include xs-max{
        text-align: center;
      }
      @include mb {
        font-size: 30px;
        line-height: 43px;
      }
      @include tb {
        font-size: 36px;
        line-height: 52px;
      }
      
      br{
        @mixin br(){
          display: none;
        }
        @include mb-only{
          @include br;
        }
        @include tb-only{
          @include br;
        }
        @include sm-only{
          @include br;
        }
      }
    }

    p {
      font-weight: 500;
      
      @include xs-max{
        text-align: center;
      }
      @include xxs {
        font-size: 14px;
        line-height: 20px;
      }
      
      @include md {
        font-size: 16px;
        line-height: 23px;

        left: 0;
        bottom: 0;
      }
      @include xl {
        font-size: 18px;
        line-height: 26px;
        margin-top: 50px;
      }
    }
  }
  .item {
    position: relative;
    overflow: hidden;
    cursor: default;

    @include fontH;
    font-style: normal;

    background: #1b1d21;
    border-radius: 10px;
    
    overflow: hidden;
    
    @include mb{
      padding: 30px 30px;
      height: calc(220px - 60px);
    }
    @include tb{

    }
    
    $anim_duration: 0.2s;

    .bck {
      position: absolute;
      opacity: 0;
      
      width: 100%;
      height: 100%;
      
      background: $orange;
      
    }
    &.animation-in .bck {
      opacity: 1;
    }
    &.animation-in-left .bck {
      animation: slide-left $anim_duration ease;
    }
    &.animation-in-right .bck {
      animation: slide-right $anim_duration ease;
    }
    &.animation-in-top .bck {
      animation: slide-top $anim_duration ease;
    }
    &.animation-in-bottom .bck {
      animation: slide-bottom $anim_duration ease;
    }
    &.animation-out .bck {
      opacity: 0;
    }
    &.animation-out-left .bck {
      animation: slide-left-out $anim_duration ease;
      left: -100%;
    }
    &.animation-out-right .bck {
      animation: slide-right-out $anim_duration ease;
      left: 100%;
    }
    &.animation-out-top .bck {
      animation: slide-top-out $anim_duration ease;
      top: -100%;
    }
    &.animation-out-bottom .bck {
      animation: slide-bottom-out $anim_duration ease;
      top: 100%;
    }

    @keyframes slide-left { 
      from{
        left: - 100%;
      } to {
        left: 0;
      }
    }
    @keyframes slide-right {
      from{
        left:  100%;
      } to {
        left: 0;
      }
    }
    @keyframes slide-top {
      from{
        top: - 100%;
      } to {
        top: 0;
      }
      }
    @keyframes slide-bottom {
      from{
        top: 100%;
      } to {
        top: 0;
      }
    }
    
    @keyframes slide-left-out { 
      from{
        left: 0;
      opacity: 1;
      } to {
        left: -100%;
      opacity: 1;
      }
    }
    @keyframes slide-right-out { 
      from{
        left: 0;
      opacity: 1;
      } to {
        left: 100%;
      opacity: 1;
      }
    }
    @keyframes slide-top-out { 
    from{
      opacity: 1;
      
        top: 0;
      } to {
      opacity: 1;
      
        top: -100%;
      }
    }
    @keyframes slide-bottom-out {
    from{
      opacity: 1;
      
        top: 0;
      } to {
      opacity: 1;
      
        top: 100%;
      }
    }
    
    p,
    span,
    svg,
    .svg {
      z-index: 101;
      @include fontH;
      
      @include mb-only {
        z-index: 100;
      }
    }

    p {
      position: absolute;

      @include fontH;

      font-weight: 500;

      transition: 0s !important;
      
      &.active{
        color: #1B1D21;
      }

      margin: 0;
      
      @include mb {
        font-size: 20px;
        line-height: 29px;
      
        bottom: 30px;
        left: 30px;
      }
    }

    span {
      position: relative;
      font-weight: 500;
      
      color: #27292c;

      @include mb {
        font-size: 36px;
        line-height: 52px;
      }
    }

    & > svg {
      position: absolute;
      right: -3px;
      bottom: -3px;

      @include mb {
        width: 99px;
        height: 112px;
      }
    }

    .svg {
      position: absolute;
      
      @include mb {
        right: 30px;
        top: 40px;
      }
      @include sm {
        top: 30px;
      }
      @include md {
        top: 35px;
      }

      svg {
        @include mb {
          width: 90px;
          max-height: 112px;
        }
      }
    }
  }
}
</style>