<template>
  <div id="contact-form">
    <Form @submit="onSubmit" :validation-schema="schema" v-slot="{ errors }">
      <div class="form-group">
          <Field name="firstName" type="text" class="form-control" :class="{ 'is-invalid': errors.firstName }" placeholder="Imię" />
          <div class="invalid-feedback">{{errors.firstName}}</div>
      </div>
      <div class="form-group">
          <Field name="email" type="text" class="form-control" :class="{ 'is-invalid': errors.email }" placeholder="Adres e-mail" />
          <div class="invalid-feedback">{{errors.email}}</div>
      </div>
      <div class="form-group">
          <Field name="tel" type="text" class="form-control" :class="{ 'is-invalid': errors.tel }" placeholder="Nr. Tel" />
          <div class="invalid-feedback">{{errors.tel}}</div>
      </div>
      <div class="form-group">
          <Field name="subject" type="text" class="form-control" :class="{ 'is-invalid': errors.subject }" placeholder="Temat" />
          <div class="invalid-feedback">{{errors.subject}}</div>
      </div>
      <div class="form-group">
        <Field v-slot="{ field }" name="message" type="text">
          <textarea name="message" class="form-control" placeholder="Tutaj wpisz treść" rows="7" v-bind="field" autocomplete="off"></textarea>
        </Field>
        <div class="invalid-feedback">{{errors.message}}</div>
      </div>
      <div class="form-group">
        <Button text="Wyślij" :type="1" altClass="btn-orange-contact" />
      </div>
    </Form>
    
  </div>
</template>

<script>
import { ref } from 'vue'

import { Form, Field } from 'vee-validate'
import * as Yup from 'yup'
// import axios from 'axios'

import Button from "@/components/Button.vue"

export default {
    name: "CForm",
    components: {
        Form,
        Field,
        Button
    },
    setup() {
        const schema = Yup.object().shape({
            firstName: Yup.string()
                .required('Imię wymagane'),
            tel: Yup.string()
                .required('Numer telefonu wymagany')
                .matches(/^(48\d{9})|\d{9}$/, 'Numer telefonu nie poprawny'),
            email: Yup.string()
                .required('Adres email wymagany')
                .email('Adres email nie poprawny'),
            subject: Yup.string()
                .required('Temat wymagany'),
            message: Yup.string()
                .required('Wiadomość wymagana')
        });
        
        const formData = ref({loaded: false, loading: false, values: null});
        
        const sendForm = async function() {alert('Wysyłanie...')}
        
        const onSubmit = values => {
            formData.value = {... formData.value, values: values};
            
            sendForm();
        }
        
        return {
            schema,
            onSubmit,
            formData
        };
    }
}
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";
#contact-form {
  
  margin: 0 auto;
  
  @include mb{
    width: 100%;
  }

  @include xl{
    width: 770px;
    // margin-bottom: 50px;
  }
  
  form{
    @include mb{
      display: flex;
      flex-direction: column;
      .form-group {
        margin-bottom: 20px;

        &:nth-last-of-type(1){
          margin-bottom: 0;
        }
      }
    }

    @include sm{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-gap: 20px;
      grid-template-areas: "in in" "in in" "txt txt" "btn btn";
    }
  
    & > div:nth-last-of-type(1) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      grid-area: btn;
    }
    
    .form-group{
      &:nth-of-type(5) {
        grid-area: txt;
      }
      
      input {
        height: 70px;
      }
      input,
      textarea {
        box-sizing: border-box;
        display: block;
        width: calc(100% - 2px);
        box-shadow: none !important;
        outline: none !important;
        transition: none;
        border-radius: 0;
        vertical-align: top;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: Arial;
        
        height: 70px;
        border-radius: 5px;
        padding: 24px 30px;
        
        color: $gray5;
        background: $gray6;
        border: 1px solid $gray6;
        
        &:focus {
          border-color: $orange;
        }
  
        &::placeholder {
          
        }
        
        &, &::placeholder{
          @include fontH;

          font-size: 20px;
          line-height: 29px;
        }
        
        &:invalid{
          border-color: $formInvalidColor;
        }
      }
      
      textarea {
        resize: none;
        height: 220px !important;
      }
      
      .invalid-feedback{
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: $formInvalidColor;
        
        @include fontH;
      }
    }
  
    label {
      button {
      }
    }
  }
  
}
</style>