<template>
  <div id="header-contact">
    <svg
      width="45"
      height="40"
      viewBox="0 0 45 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M42.0312 32.1875C43.8984 30.1562 45 27.6797 45 25C45 19.7734 40.8203 15.2969 34.8984 13.4297C34.9688 13.9453 35 14.4688 35 15C35 23.2734 26.5859 30 16.25 30C15.4062 30 14.5859 29.9375 13.7734 29.8516C16.2344 34.3438 22.0156 37.5 28.75 37.5C31.9531 37.5 34.9297 36.7812 37.4453 35.5469C39.1484 36.5391 41.5156 37.5 44.375 37.5C44.625 37.5 44.8516 37.3516 44.9453 37.125C45.0469 36.8984 45 36.6328 44.8281 36.4453C44.8047 36.4219 43.0781 34.5547 42.0312 32.1875Z"
        fill="#F56400"
      />
      <path
        d="M32.5 15C32.5 8.09375 25.2266 2.5 16.25 2.5C7.27344 2.5 0 8.09375 0 15C0 17.6797 1.10156 20.1484 2.96875 22.1875C1.92188 24.5469 0.195312 26.4219 0.171875 26.4453C0 26.625 -0.046875 26.8906 0.0546875 27.125C0.15625 27.3594 0.375 27.5 0.625 27.5C3.48438 27.5 5.85156 26.5391 7.55469 25.5469C10.0703 26.7734 13.0469 27.5 16.25 27.5C25.2266 27.5 32.5 21.9062 32.5 15Z"
        fill="#64656A"
      />
    </svg>
    <p>INFO@ETRUST.PL<br />(22) 208 73 18</p>
  </div>
</template>

<script>
export default {
  name: "HeaderContact",
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
#header-contact {
  position: absolute;

  @include mobile-nav {
    display: none;
  }
  @include desktop-nav {
    display: flex;
    
    @include md {
      right: 40px;
    }
    @include lg {
      right: 65px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    svg {
      @include md {
        height: 30px;
        margin-right: 20px;
      }
      @include lg {
        height: 40px;
        margin-right: 36px;
      }
    }
    p {
      @include fontH;
      font-style: normal;

      font-weight: 500;
      color: #000000;
      
      @include md {
        font-size: 14px;
        line-height: 15px;
      }
      @include lg {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  
}
</style>