<template>
  <div 
    class="header-nav-tab btn"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
  >
    <router-link :to="to"  class="header-nav-tab__content" :class="{'header-nav-tab__content--active': currentRoutePath == $props.to, 'header-nav-tab__content--hover':hover }" @click="toggleMobileNav" >
      <span v-html="name"></span>
    </router-link>
    <!-- <a :href="to" class="header-nav-tab__content" :class="{'header-nav-tab__content--active': currentRoutePath == $props.to, 'header-nav-tab__content--hover':hover }" @click="toggleMobileNav" >
      <span v-html="name"></span>
    </a> -->
  </div>
</template>

<script>
export default {
  name: "HeaderTabNav",
  props: ["name", "to", "icon", "toggleMobileNav"],
  data() {
    return {
      hover: false,
    }
  },
  computed: {
    currentRoutePath() {
        return this.$route.path;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";
@import "@/assets/scss/nav.scss";

.header-nav-tab {
  @include desktop-nav {
    margin-bottom: 15px;
    text-align: right;
    padding-right: 40px;
  }
  @include mobile-nav {
    margin-left: auto;
    margin-right: 0;
    
    @include mb {
      padding-right: 20px;
    }
    @include tb {
      padding-right: 80px;
    }
  }
  @include lg {
    margin-right: 50px;
  }
  
  &:nth-last-of-type(1) {
    margin-right: 0;
  }
  .header-nav-tab__content {
    text-decoration: none;
    color: $normalColor;

    flex-direction: row;
    span {
      font-style: normal;
      font-weight: 500;
      @include fontH;

      @include mobile-nav {
        color: #fff;
        
        font-size: 14px;
        line-height: 20px;
        
        text-align: left;

        @include mb {
          // font-size: 17px;
          // line-height: 25px;

          font-size: 21px;
          line-height: 35px;
        }
      }
            
      @include md {
        font-size: 18px;
        line-height: 26px;
      }
    }
    @include md {
      &--active{
        position: relative;
        &::after{
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
          height: 2px;
          background: $activeColor;
        }
      }
    
    }
  }

  &:hover {
    .header-nav-tab__content {
      // color: $activeColor;
    }
  }
}
</style>