<template>
  <div id="header-logo">
    <router-link to="/">
      <div 
        class="logo"
        :class="{'logo--black': $route.name == 'Error'}"
        height="35" 
        width="204"
        alt="etrust logo"
        aria-label="etrust logo"
        :style="{
          '--bg-large-image':       'url(\'' + webp(require('@/assets/images/etrust-logos/logo-etrust-orange-white-large.png')) + '\')',
          '--bg-mobile-image':      'url(\'' + webp(require('@/assets/images/etrust-logos/logo-etrust-orange-white-mobile.png')) + '\')',
          '--bg-large-image-black': 'url(\'' + webp(require('@/assets/images/etrust-logos/logo-etrust-orange-black-large.png')) + '\')',
          '--bg-mobile-image-black':'url(\'' + webp(require('@/assets/images/etrust-logos/logo-etrust-orange-black-mobile.png')) + '\')',
        }"
      ></div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "HeaderLogo",
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
#header-logo {
  position: absolute;
  @include xxs {
    left: 17px;
  }
  @include xs {
    left: 36px;
  }
  @include sm {
    left: 55px;
  }
  @include lg {
    left: 75px;
  }
  @include xl {
    left: 100px;
  }
  a{
    display: block;

    position: absolute;
    z-index: 102;

    div.logo,
    img {
      @include mb{
        width: 136.07px;
        height: 23.35px;
      }
      @include lg{
        width: 204px;
        height: 35px;
      }
    }

    div.logo{
      background-size: cover;
      background-image: var(--bg-mobile-image);

      @include lg{
        background-image: var(--bg-large-image);
      }
      
      &--black{
        background-image: var(--bg-mobile-image-black);

        @include lg{
          background-image: var(--bg-large-image-black);
        }
      }

    }
  }
}
</style>