<template>
    <div id="header-nav" :class="isOpen ? 'nav-open' : 'nav-closed'">
        <div class="nav-mobile-title" :class="isOpen ? 'nav-open' : ''">
          <span>MENU</span>
          <div class="line"></div>
        </div>
        <HeaderTabNav v-for="(item, index) in nav" :key="'nav_'+index" :to="item.path" :name="item.title" :exact="item.path == '/'" :toggleMobileNav="toggleMobileNav" />
        <div class="nav-mobile-social-media" :class="isOpen ? 'nav-open' : 'nav-closed'">
          <a
            :href="item.href"
            v-for="item in socialMedia"
            :key="'s_m_' + item.title + '_m'"
            >{{ item.title }}</a
          >
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

import HeaderTabNav from '@/components/header/HeaderTabNav.vue';
    export default {
        name: "HeaderNav",
        components: {HeaderTabNav},
        props: ["isOpen", "toggleMobileNav"],
        computed: {
          ...mapState({
            nav: state => state.nav,
            socialMedia: state => state.socialMedia
          })
        }
    }
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";
@import "@/assets/scss/nav.scss";

#header-nav{    
  @include desktop-nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      // display: block;
      
      &.mobile, .nav-mobile-title, .nav-mobile-social-media{
          display: none !important;
      }
  }
}
</style>