<template>
  <div
    id="banner-1"
    :style="{
      '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/banner-1-bck-large.png')) + '\')',
      '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/banner-1-bck-mobile.png')) + '\')',
    }"
  >
    <div class="container">
      <svg
        width="126"
        height="126"
        viewBox="0 0 126 126"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="36" cy="36" r="36" fill="white" />
        <circle cx="66" cy="66" r="60" fill="#F56400" />
        <g clip-path="url(#clip0)">
          <path
            d="M29.9 73.4765C30.945 73.4765 31.8 72.6328 31.8 71.6015C31.8 70.5703 30.945 69.7265 29.9 69.7265C28.855 69.7265 28 70.5703 28 71.6015C28 72.6445 28.855 73.4765 29.9 73.4765ZM103.05 50.9999L89.5719 51.0234L83.4919 45.1757C82.4112 44.1093 80.9862 43.5234 79.4662 43.5234H67.4725C66.2375 43.5234 65.0856 43.9804 64.1119 44.6953C63.1144 43.9335 61.8912 43.4882 60.6325 43.4882H52.3794C50.8713 43.4882 49.4225 44.0859 48.3537 45.1406L42.4163 50.9999H28.95C28.4275 50.9999 28 51.4218 28 51.9374V53.8124C28 54.3281 28.4275 54.7499 28.95 54.7499H35.6V77.2382H28.95C28.4275 77.2382 28 77.6601 28 78.1757V80.0507C28 80.5663 28.4275 80.9882 28.95 80.9882H35.6C37.69 80.9882 39.3763 79.3242 39.3881 77.2734H43.3306L53.0088 86.414C56.5475 89.2382 61.535 89.1562 65.0025 86.3906L65.8575 87.1171C66.9975 88.0312 68.3869 88.5117 69.8356 88.5117C71.7356 88.5117 73.5288 87.6913 74.7519 86.2148L77.3525 83.0624C79.3 84.1054 82.4469 84.1171 84.4775 81.6562L85.6056 80.2851C86.3419 79.3945 86.7456 78.3398 86.8525 77.2734H92.6237C92.6356 79.3242 94.3337 80.9882 96.4119 80.9882H103.062C103.584 80.9882 104.012 80.5663 104.012 80.0507V78.1757C104.012 77.6601 103.584 77.2382 103.062 77.2382H96.4119V54.7734L103.062 54.7499C103.584 54.7499 104.012 54.3281 104.012 53.8124V51.9374C104 51.4101 103.573 50.9999 103.05 50.9999ZM82.6488 77.9062L81.5206 79.2773C80.8794 80.0507 79.6919 80.2265 78.8488 79.5468L76.735 77.8593L71.8069 83.8359C70.9162 84.9257 69.3131 85.0312 68.3156 84.2343L64.6819 81.1757L63.4469 82.6757C61.4637 85.0781 57.8656 85.4531 55.5381 83.6015L44.8625 73.5117H39.4V54.7382H43.9838L51.0256 47.789C51.3819 47.4374 51.8687 47.2382 52.3675 47.2382H60.6206C60.7275 47.496 60.6562 47.3203 60.7512 47.5781L53.745 53.9296C50.3962 56.9648 50.23 62.039 53.2463 65.2851C54.9444 67.1132 60.205 69.8906 64.7531 65.7773L67.4606 63.3281L82.3756 75.2695C83.1831 75.9257 83.3019 77.1093 82.6488 77.9062ZM92.6 73.5117H85.8075C85.5106 73.1015 85.1781 72.7031 84.7625 72.3632L70.2869 60.7617L73.6594 57.7031C74.4312 56.9999 74.4906 55.8163 73.7781 55.0546C73.0656 54.2929 71.8662 54.246 71.0944 54.9374L62.1762 62.9999C60.4662 64.5351 57.5925 64.4062 56.0369 62.7421C54.4219 61.0077 54.5287 58.289 56.2981 56.6835L66.1662 47.7538C66.5225 47.4374 66.9738 47.2617 67.4487 47.2617H79.4425C79.9531 47.2617 80.4281 47.4609 80.7962 47.8242L88.0044 54.7499H92.6V73.5117ZM102.1 69.7382C101.055 69.7382 100.2 70.582 100.2 71.6132C100.2 72.6445 101.055 73.4882 102.1 73.4882C103.145 73.4882 104 72.6445 104 71.6132C104 70.5703 103.145 69.7382 102.1 69.7382Z"
            fill="#1B1D21"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              width="76"
              height="60"
              fill="white"
              transform="translate(28 36)"
            />
          </clipPath>
        </defs>
      </svg>

      <h2>
        NASZA WIEDZA I DOŚWIADCZENIE <br class="br-2"/>TO SUKCES
        <span class="color-orange"> TWOJEGO PROJEKTU.</span>
      </h2>
    </div>
    <div class="darker"></div>
  </div>
</template>

<script>
export default {
  name: "Banner1",
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
#banner-1 { // started 2021-02-19 - finished 2021-02-19
  position: relative;

  background-image: var(--bg-large-image);
  background-size: cover;
  background-position: center;

  @include mb-only{
    background-image: var(--bg-mobile-image);
  }

  @include mb {
    height: 494px;
  }

  & > .darker {
    z-index: 98;
  }

  & > div.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      width: unset;

      @include mb {
        margin-bottom: 36px;
        height: 126px;
      }
    }

    h2 {
      color: #fff;
      margin: 0;
      text-align: center;
    }
  }
}
</style>