<template>
  <div
    id="banner-hero"
    :class="!title ? 'banner-hero-home' : 'banner-hero-page'"
    :style="{
      'background-image': 
        'url(\'' +
        webp(require('@/assets/images/backgrounds/banner-hero-bck-large.png')) +
        '\')',

      '--bg-large-image':
        'url(\'' +
        webp(require('@/assets/images/backgrounds/banner-hero-bck-large.png')) +
        '\')',
      '--bg-mobile-image':
        'url(\'' +
        webp(
          require('@/assets/images/backgrounds/banner-hero-bck-mobile.png')
        ) +
        '\')',
    }"
  >
    <div class="container" v-if="title">
      <h1 v-html="title"></h1>
    </div>
    <div class="container" v-else>
      <h1>
        <div>
          <span>Informatyka </span>
          <span class="color-orange">medyczna</span>
        </div>
        <div>
          <span>Systemy </span>
          <span class="color-orange">dedykowane</span>
        </div>
      </h1>
      <Button
        text="Zobacz więcej"
        :type="1"
        altClass="btn-orange-banner"
        href="/uslugi"
      />
    </div>
    <svg
      width="728"
      height="634"
      viewBox="0 0 728 634"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="img img-1"
    >
      <path
        d="M0 633.103H727.992L728.003 0.740723C728.003 0.740723 727.816 1.22288 727.716 1.46506C677.399 131.23 599.889 252.872 495.163 357.611C353.723 499.068 181.462 590.895 0 633.103Z"
        fill="#F56400"
      />
    </svg>
    <svg
      width="343"
      height="507"
      viewBox="0 0 343 507"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="img img-2"
      v-if="!title"
    >
      <path
        d="M0.5 484C24.3333 491.333 79.2 505.7 108 504.5C144 503 177 503 174 463C171 423 122.5 412.5 110.5 442.5C98.5 472.5 180 483 224.5 428.5C251 396 169 368.5 163 386C157 403.5 208.5 444 269 419.5C329.5 395 333.5 274.5 314.5 195C295.5 115.5 312.5 28 341 1.5"
        stroke="#F56400"
        stroke-width="3"
      />
    </svg>
    <svg
      width="161"
      height="638"
      viewBox="0 0 161 638"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="img img-3"
    >
      <path
        d="M161.349 0L161.32 637.631C161.32 637.631 144.663 409.329 27.9061 271.851C-64.298 163.278 96.0305 77.5908 161.349 0Z"
        fill="#1B1D21"
        fill-opacity="0.2"
      />
    </svg>
    <div id="banner-social-media" v-if="!title">
      <a
        rel="noopener"
        :href="item.href"
        v-for="item in socialMedia"
        :key="'s_m_' + item.title"
        target="_blank"
        >{{ item.title }}</a
      >
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Button from "@/components/Button.vue";

export default {
  name: "BannerHero",
  components: { Button },
  props: ["title"],
  computed: {
    ...mapState({
      socialMedia: (state) => state.socialMedia,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";

#banner-hero {
  position: relative;
  z-index: 100;
  overflow: hidden;

  background-color: $gray1;

  background-image: var(--bg-large-image) !important;

  @include mb-only {
    background-image: var(--bg-mobile-image) !important;
  }

  * {
    transition: 0s;
  }

  &.banner-hero {
    &-home {
      @include mb {
        background-size: cover;
        background-position-y: bottom;
        background-position-x: 50%;

        height: calc(480px - 28px);
        padding-top: 28px;
      }
      @include tb {
        // background-size: auto 100%;
        background-position-x: unset;
        background-size: cover;

        height: calc(510px - 28px);
        padding-top: 28px;
      }
      @include sm {
        // background-size: auto 100%;
        background-size: cover;

        height: calc(577px - 28px);
        padding-top: 28px;
      }
      @include md {
        background-size: 100%;
      }
      @include lg {
        background-size: auto 100%;

        height: calc(820px - 71px);
        padding-top: 71px;

        @media (min-width: 1570px) {
          background-size: cover;
        }
      }
      @include xl {
        background-size: 100%;

        height: calc(820px - 71px);
        padding-top: 71px;
      }

      & > div.container {
        h1 {
          display: flex;
          flex-direction: column;
          justify-content: center;

          span {
            @include mb {
              font-size: 30px;
              line-height: 50px;
            }
            @include tb {
              font-size: 54px;
              line-height: 90px;
            }
            @include sm {
              // md same
              font-size: 64px;
              line-height: 90px;
            }
            @include lg {
              font-size: 100px;
              line-height: 130px;
            }

            &:nth-of-type(1) {
              margin-right: 10px;
            }
          }

          & > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;

            &:nth-of-type(1) {
              @include xs {
                margin-right: 10px;
              }
            }
            &:nth-of-type(2) {
              @include xs {
                margin-left: 10px;
              }
            }

            &:nth-of-type(2) span:nth-of-type(1) {
              @include mb {
                margin-left: 80px;
              }
              @include tb {
                margin-left: 115px;
              }
              @include sm {
                // md same
                margin-left: 140px;
              }
              @include lg {
                margin-left: 240px;
              }
            }
          }
        }
      }

      svg.img {
        position: absolute;

        &-1 {
          bottom: -3px;
          right: -1px;

          @include mb {
            width: 323.26px;
            height: 281.19px;
          }
          @include tb {
            width: 419.26px;
            height: 363.11px;
          }
          @include sm {
            width: 460.41px;
            height: 398.91px;
          }
          @include md {
            width: 459.77px;
            height: 399.09px;
          }
          @include lg {
            width: 690.01px;
            height: 599.36px;
          }
        }
        &-2 {
          left: -0.5px;

          @include mb-only {
            display: none;
          }
          @include tb {
            width: 145px;
            height: 215px;
            top: -90.5px;
          }
          @include sm {
            width: 226px;
            height: 336px;
            top: -150.5px;
          }
          @include lg {
            width: 340.5px;
            height: 503.07px;
            top: -150.5px;
          }
        }
        &-3 {
          top: 0;
          right: -1px;

          @include mb {
            width: 61px;
            height: 240px;
          }
          @include tb {
            width: 98.04px;
            height: 386.3px;
          }
          @include sm {
            width: 107.66px;
            height: 424.38px;
          }
          @include md {
            width: 107.51px;
            height: 424.57px;
          }
          @include lg {
            width: 161.35px;
            height: 637.63px;
          }
        }
      }
    }
    &-page {
      @include mb {
        background-size: cover;
        background-position-y: bottom;
        background-position-x: 10%;

        height: calc(443px - 28px);
        padding-top: 28px;
      }
      @include tb {
        background-position-x: unset;
        background-position-y: center;

        height: calc(285px - 28px);
        padding-top: 28px;
      }
      @include sm {
        height: calc(360px - 28px);
        padding-top: 28px;
      }
      @include lg {
        height: calc(500px - 71px);
        padding-top: 71px;
      }

      & > div.container {
        h1 {
          text-align: center;

          font-size: 100px;
          line-height: 130px;
        }
      }
      svg.img {
        position: absolute;

        &-1 {
          bottom: -3px;
          right: -1px;

          @include mb {
            width: 209.03px;
            height: 180.94px;
          }
          @include tb {
            width: 209.03px;
            height: 180.94px;
          }
          @include sm {
            width: 286.03px;
            height: 247.6px;
          }
          @include lg {
            width: 423.08px;
            height: 365.3px;
          }
        }
        &-2 {
          display: none;
        }
        &-3 {
          top: 0;
          right: -1px;

          @include mb {
            width: 37.33px;
            height: 257px;
          }
          @include tb {
            width: 43.97px;
            height: 173.16px;
          }
          @include sm {
            width: 43.97px;
            height: 173.16px;
          }
          @include lg {
            width: 98.93px;
            height: 388.63px;
          }
        }
      }
    }
    &--title-smaller {
      @include mb-only {
        & > div.container > h1 {
          font-size: 70px;
          line-height: 100px;
        }
      }
    }
  }

  & > div.container {
    position: relative;
    z-index: 101;

    @include width-01();
    margin: 0 auto;
    @include mb {
      margin-top: 54px;
    }
    @include tb {
      margin-top: 20px;
    }
    @include sm {
      margin-top: 12px;
    }
    @include md {
      margin-top: 45px;
    }
    @include lg {
      margin-top: 69px;
    }

    h1 {
      margin: 0;
      align-items: center;
      text-transform: uppercase;

      font-weight: 500;

      color: #ffffff;

      & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        &:nth-of-type(1) {
          @include xs {
            margin-right: 10px;
          }
        }
        &:nth-of-type(2) {
          @include xs {
            margin-left: 10px;
          }
        }
      }
    }

    a.btn {
      margin-left: auto;

      @include mb-only {
        margin-top: 17px;

        margin-left: auto;
        margin-right: auto;
      }
      @include tb {
        margin-top: 10px;
        margin-right: 70px;
      }
      @include sm {
        margin-top: 19px;
        margin-right: 160px;
      }
      @include md {
        margin-top: 52px;
        margin-right: 300px;
      }
      @include lg {
        margin-top: 30px;
        margin-right: 110px;
      }
    }
  }

  #banner-social-media {
    position: absolute;

    z-index: 103;

    @include mb-only {
      display: none;
    }
    @include tb {
      display: block;

      top: calc(50% + 19px);
      left: 36px;
    }
    @include sm {
      top: calc(50% + 27px);
      left: 55px;
    }
    @include md {
      top: calc(50%);
    }
    @include lg {
      top: calc(50% + 45px);
      left: 100px;
    }
    @include xl {
      top: calc(50% - 15px);
    }

    a {
      @include fontH;
      font-style: normal;
      font-weight: 500;

      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

      display: block;

      writing-mode: vertical-rl;
      text-orientation: mixed;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);

      @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      $duration: 1s;

      -webkit-animation: fadein $duration; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $duration; /* Firefox < 16 */
        -ms-animation: fadein $duration; /* Internet Explorer */
         -o-animation: fadein $duration; /* Opera < 12.1 */
            animation: fadein $duration;

      &:hover {
        color: $orange;

        transition: 0.3s;
      }

      @include tb {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;

        margin-bottom: 28px;
      }
      @include lg {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;

        margin-bottom: 62px;
      }
    }
  }
}
</style>