<template >
  <a class="btn" :class="'btn-' + type + ' ' + altClass"
  :href="href"
    >{{ type == 1 || type == 3 ? text : "" }}
    <span v-if="type == 2">{{ text }}</span>
    <svg
      width="28"
      height="59"
      viewBox="0 0 28 59"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      v-if="type == 1 || type == 3"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.9863 51.8712C27.761 55.4855 24.8091 58.4051 21.0531 58.8076H0.592773L27.9874 0.857422C27.9958 0.998434 28.0001 1.1405 28.0001 1.28351V39.0724L27.9863 51.8712Z"
        :fill="type == 1 ? '#212329' : '#fff'"
        fill-opacity="0.2"
      />
    </svg>
    <div class="dec-b-1" :style="{'background-color': type == 1 ? '#212329' : '#fff'}"></div>
  </a>
</template>

<script>
export default {
  name: "Button",
  props: ["tag", "text", "type", "altClass", "href"],
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
@mixin btn-color-1{
  background: $orange;
  color: #000;
}
@mixin btn-color-2{
  background: #000;
  color: #fff;
}
@mixin all-btns($width){
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  svg{
    position: absolute;
    right: 0;
    bottom: 0;

    height: 100% !important;
    width: unset !important;
  }

  .dec-b-1{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    
    opacity: 0.2;

    transform: translateX($width);
  }

  &:hover{
    .dec-b-1{
      transform: translateX(0);
    }
    svg{
      transform: translateX(-$width);
    }
  }
}
@mixin btn-md{
  @include all-btns(133px);

  height: 43px;
  width: 133px;

  font-size: 16px;
  line-height: 23px;

  border-radius: 7px;

  svg{
    right: -1px;
    bottom: -1px;
    
  }
}
@mixin btn-lg{
  @include all-btns(200px);

  height: 65px;
  width: 200px;

  font-size: 18px;
  line-height: 26px;
  
  border-radius: 7px;

  svg{
    right: -1px;
    bottom: -1px;

  }

}
@mixin btn-lg-2{
  @include all-btns(197px);

  height: 70px;
  width: 197px;

  font-size: 20px;
  line-height: 29px;
  
  border-radius: 7px;

  svg{
    right: -1px;
    bottom: -1px;
  }

}

a.btn {
  text-decoration: none;
  color: #000;
  font-family: $fontFamilyButtons;
}
a.btn-2 {
  $animation_time: 0.5s;

  @keyframes in {
    0% {
      top: 0;
    }
    100% {
      top: calc(100% - 2px);
    }
  }
  @keyframes out {
    0% {
      bottom: 0;
      top: unset;
    }
    100% {
      bottom: calc(100% - 2px);
      top: unset;
    }
  }

  span {
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: unset;

      
      @include xxs {
        height: 1px;
      }
      @include sm {
        height: 2px;
      }

      content: "";
      background: #000;

      -webkit-animation: in $animation_time ease-in; /* Safari 4+ */
      -moz-animation: in $animation_time ease-in; /* Fx 5+ */
      -o-animation: in $animation_time ease-in; /* Opera 12+ */
      animation: in $animation_time ease-in; /* IE 10+, Fx 29+ */
    }
    &:hover {
      &::after {
        top: 0;
        bottom: unset;

        -webkit-animation: out $animation_time ease-out; /* Safari 4+ */
        -moz-animation: out $animation_time ease-out; /* Fx 5+ */
        -o-animation: out $animation_time ease-out; /* Opera 12+ */
        animation: out $animation_time ease-out; /* IE 10+, Fx 29+ */
      }
    }
  }
}
a.btn-orange {
  &-banner{
    @include btn-color-1;
    @include mb {
      @include btn-md;
    }
    @include lg {
      @include btn-lg;
    }
  }
  &-why-us{
    @include btn-color-1;
    @include mb {
      @include btn-lg;
    }
  }
  &-contact{
    @include btn-color-1;
    @include btn-lg-2;
  }
}
a.btn-black {
  &-banner{
    @include btn-color-2;
    @include mb {
      @include btn-md;
    }
    @include lg {
      @include btn-lg;
    }
  }
  &-why-us{
    @include btn-color-1;
    @include mb {
      @include btn-lg;
    }
  }
  &-banner-footer{
    @include btn-color-2;
    @include mb {
      @include btn-lg;
    }
  }
}

</style>