<template>
  <div id="footer">
    <div
      :style="{
        '--bg-large-image':'url(\'' + webp(require('@/assets/images/backgrounds/bck-map-large.png')) + '\')',
        '--bg-mobile-image':'url(\'' + webp(require('@/assets/images/backgrounds/bck-map-mobile.png')) + '\')',
      }"
    >
      <div>
        <div>
          <!-- <img src="@/assets/images/etrust-logos/logo-etrust-orange_white.png" height="35" width="204" alt="etrust logo" /> -->
          <div 
            class="logo"
            height="35" 
            width="204"
            alt="etrust logo"
            aria-label="etrust logo"
            :style="{
              '--bg-large-image':'url(\'' + webp(require('@/assets/images/etrust-logos/logo-etrust-orange-white-large.png')) + '\')'
            }"
          ></div>
          <div>
            <a 
              :href="it.href" v-for="(it, i) in socialMedia" 
              :key="'footer_social_media_'+i" 
              v-html="it.icon" 
              :aria-label="it.title" 
              target="_blank"
              rel="noopener"></a>
          </div>
        </div>
        <div>
          <span class="section-title">menu</span>
          <div class="container">
            <router-link v-for="(item, index) in nav.filter(el => el.name != 'Home')" :key="'nav_b_'+index" :to="item.path" :class="{'footer-nav-tab--active': currentRoutePath == $props.to, 'footer-nav-ta--hover':hover }" >
              <span v-html="item.title"></span>
            </router-link>
          </div>
        </div>
        <div>
          <span class="section-title">kontakt</span>
          <div class="container">
            <div
              class="item"
              v-for="(item, index) in contact"
              :key="'c_i_' + index"
            >
              <div class="svg" v-html="item.svg"></div>
              <p v-html="item.content"></p>
            </div>
            <div class="krs">
              <p>KRS: 0000281307, REGON: 140998317<br />NIP: 951-222-15-13<br />
              <router-link to="/rodo" >
                Klauzula Rodo
              </router-link></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p>© Copyright {{new Date().getFullYear()}} - e-Trust Sp. z o.o.</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "Footer",
  computed: {
    ...mapState({
      nav: state => state.nav,
      socialMedia: state => state.socialMedia
    })
  },
  data() {
    return {
      contact: [
        {
          svg:
            '<svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.45216 24.4956C1.32326 14.2105 0 13.1549 0 9.375C0 4.19731 4.21759 0 9.42029 0C14.623 0 18.8406 4.19731 18.8406 9.375C18.8406 13.1549 17.5173 14.2105 10.3884 24.4956C9.9206 25.1682 8.91994 25.1681 8.45216 24.4956ZM9.42029 13.2812C11.5881 13.2812 13.3454 11.5324 13.3454 9.375C13.3454 7.21763 11.5881 5.46875 9.42029 5.46875C7.25249 5.46875 5.49517 7.21763 5.49517 9.375C5.49517 11.5324 7.25249 13.2812 9.42029 13.2812Z" fill="#F56400"/></svg>',
          content: "ul. Sowińskiego 53C/15<br/>01-105 Warszawa",
        },
        {
          svg:
            '<svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.45216 24.4956C1.32326 14.2105 0 13.1549 0 9.375C0 4.19731 4.21759 0 9.42029 0C14.623 0 18.8406 4.19731 18.8406 9.375C18.8406 13.1549 17.5173 14.2105 10.3884 24.4956C9.9206 25.1682 8.91994 25.1681 8.45216 24.4956ZM9.42029 13.2812C11.5881 13.2812 13.3454 11.5324 13.3454 9.375C13.3454 7.21763 11.5881 5.46875 9.42029 5.46875C7.25249 5.46875 5.49517 7.21763 5.49517 9.375C5.49517 11.5324 7.25249 13.2812 9.42029 13.2812Z" fill="#F56400"/></svg>',
          content: "ul. Ogińskiego 10/15<br/>84-240 Reda",
        },
        {
          svg:
            '<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.2866 17.6662L18.8179 15.3224C18.5843 15.2229 18.3246 15.2019 18.078 15.2627C17.8315 15.3234 17.6113 15.4626 17.4507 15.6593L15.0288 18.6183C11.2279 16.8262 8.16904 13.7674 6.37695 9.96648L9.33594 7.5446C9.53305 7.38429 9.67256 7.16412 9.73335 6.91743C9.79414 6.67074 9.7729 6.41096 9.67285 6.17741L7.3291 0.708664C7.21929 0.45691 7.02508 0.251362 6.77996 0.127462C6.53483 0.00356209 6.25416 -0.0309231 5.98633 0.0299528L0.908203 1.20183C0.649985 1.26146 0.419602 1.40685 0.254656 1.61427C0.0897096 1.8217 -5.94829e-05 2.0789 2.95713e-08 2.34392C2.95713e-08 14.8683 10.1514 25.0002 22.6562 25.0002C22.9213 25.0003 23.1787 24.9106 23.3862 24.7457C23.5937 24.5807 23.7392 24.3503 23.7988 24.092L24.9707 19.0138C25.0312 18.7447 24.996 18.4629 24.8711 18.2169C24.7463 17.971 24.5396 17.7762 24.2866 17.6662Z" fill="#F56400"/></svg>',
          content: "(22) 208 73 18",
        },
        {
          svg:
            '<svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.5264 6.31641C24.7168 6.16504 25 6.30664 25 6.5459V16.5312C25 17.8252 23.9502 18.875 22.6562 18.875H2.34375C1.0498 18.875 0 17.8252 0 16.5312V6.55078C0 6.30664 0.27832 6.16992 0.473633 6.32129C1.56738 7.1709 3.01758 8.25 7.99805 11.8682C9.02832 12.6201 10.7666 14.2021 12.5 14.1924C14.2432 14.207 16.0156 12.5908 17.0068 11.8682C21.9873 8.25 23.4326 7.16602 24.5264 6.31641ZM12.5 12.625C13.6328 12.6445 15.2637 11.1992 16.084 10.6035C22.5635 5.90137 23.0566 5.49121 24.5508 4.31934C24.834 4.09961 25 3.75781 25 3.39648V2.46875C25 1.1748 23.9502 0.125 22.6562 0.125H2.34375C1.0498 0.125 0 1.1748 0 2.46875V3.39648C0 3.75781 0.166016 4.09473 0.449219 4.31934C1.94336 5.48633 2.43652 5.90137 8.91602 10.6035C9.73633 11.1992 11.3672 12.6445 12.5 12.625Z" fill="#F56400"/></svg>',
          content: "info@etrust.pl",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/general.scss";
#footer {  // started 2021-02-19 - finished 2021-02-19
  display: flex;
  flex-direction: column;
  background: #222429;
  @include fontH;
  font-style: normal;
  
  // new vars
  $obj-h-mb: 236px;
  $obj-h-md: 289px;

  $obj-p-mb: 50px;
  $obj-p-tb: 60px;
  $obj-p-sm: 76px;
  $obj-p-md: 50px;
    
  @include mb {
    padding-top: calc(#{$obj-h-mb} / 2 + #{$obj-p-mb});
  }
  @include tb {
    padding-top: calc(#{$obj-h-mb} / 2 + #{$obj-p-tb});
  }
  @include sm {
    padding-top: calc(#{$obj-h-mb} / 2 + #{$obj-p-sm});
  }
  @include md {
    padding-top: calc(#{$obj-h-md} / 2 + #{$obj-p-md});
  }
  
  & > div {
    @include width-01();
    & > div {
      &:nth-of-type(1) {

        background-image: var(--bg-large-image);

        @include mb-only{
          background-image: var(--bg-mobile-image);
        }

        @include mb-only {
          display: flex;
          flex-direction: column;
        }
        @include tb {
          display: grid;
          grid-template-columns: 204px auto;
          grid-gap: 50px;
          grid-template-areas: "a1 k";
          padding-bottom: 50px;
        }
        @include sm {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-areas: "a1 m k k";
        }
        & > div {
          span.section-title {
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
            
            font-size: 24px;
            line-height: 35px;

            @include mb-only {
              display: block;
              text-align: center;
            }
          }

          &>.container{
            margin-top: 26px;
          }


          &:nth-of-type(3)>.container p, &:nth-of-type(2) a{
            font-weight: normal;
            color: #fff;
            @include fontH;
            
            @include xxs {
              font-size: 12px;
              line-height: 17px;
            }
            @include xs {
              font-size: 10px;
              line-height: 14px;
            }
            @include sm {
              font-size: 12px;
              line-height: 17px;
            }
            @include md {
              font-size: 14px;
              line-height: 20px;
            }
            @include lg {
              font-size: 18px;
              line-height: 26px;
            }


          }
          &:nth-of-type(1) {
            grid-area: a1;
            //logo
            //socialmedia
            display: flex;
            flex-direction: column;
            
            @include mb-only {
              justify-content: center;
              align-items: center;
            }

            
            div.logo{
              background-size: cover;
              background-image: var(--bg-large-image);

              height: 35px;
              width: 204px;
            }

            div {
              display: flex;
              flex-direction: row;
              justify-content: center;
              margin-top: 50px;

              a {
                margin-left: 50px;

                // &:nth-of-type(2){
                //   @include mb-only {
                //     margin-left: 20px;
                //   }
                // }

                &:nth-of-type(1){
                  margin-left: 0;
                }
                
                svg{
                  height: 26.5px;
                  width: 26.5px;
                }
                  &:hover{
                    svg{
                      path{
                        fill: $orange;
                      }
                    }
                  }
              }
            }
          }
          &:nth-of-type(2) {
            grid-area: m;
            //menu
            @include mb-only{
              display: none;
            }
            @include tb-only{
              display: none;
            }

            &>.container{
              display: flex;
              flex-direction: column;
              
              // padding-top: 13px;

              a{
                text-decoration: none;
                text-transform: uppercase;

                margin-bottom: 10px;

                @include fontH;

                
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;

                &:nth-last-of-type(1){
                  margin-bottom: 0;
                }

                &:hover{
                  span{
                    transition: .3s;
                    color: $orange;
                  }
                }
              }

            }
          }
          &:nth-of-type(3) {
            grid-area: k;
            //kontakt
            @include mb-only {
              margin-top: 50px;
              padding-bottom: 50px;
            }

            .container {
              
              @include mb-only {
                // grid-template-columns: 1fr 1fr;
                // grid-template-rows: auto auto auto;
                // grid-template-areas: ". ." ". ." "k k";

                display: flex;
                flex-direction: column;

                width: 191px;
                margin-left: auto;
                margin-right: auto;
              }
              @include tb {
                display: grid;
                grid-template-rows: auto auto auto;
                grid-template-areas: ". ." ". k" ". k";
                grid-gap: 20px;
              }

              p{
                font-size: 18px;
                line-height: 26px;
              }

              a{
                text-decoration: none;
                color:#fff;
              }

              .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                @include mb-only {
                  width: 191px;

                  margin-bottom: 20px;
                }

                .svg {
                  margin-right: 10px;
                  svg{
                    height: 25px;
                  }
                }

              }

              .krs {
                grid-area: k;
                
                p{
                  @include mb-only {
                    line-height: 27px !important;
                  }
                }
              }
            }
          }
        }
      }
      &:nth-of-type(2) {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        
        p {
          margin: 0;
          padding: 20px 0;
          font-weight: normal;
          color: rgba(255, 255, 255, 0.5);
          
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
}
</style>