<template >
    <div id="footer-top">
      <div class="container">
        <svg width="211" height="237" viewBox="0 0 211 237" fill="none" xmlns="http://www.w3.org/2000/svg" class="dec-3-1" preserveAspectRatio="none">
          <path d="M0.523438 0H210.936L210.937 236.615C210.937 236.615 210.883 236.435 210.856 236.345C196.313 187.79 173.909 142.274 143.641 103.082C102.762 50.1525 52.9717 15.7931 0.523438 0Z" fill="#222429" fill-opacity="0.2"/>
        </svg>
        <svg width="258" height="44" viewBox="0 0 258 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="dec-3-2" preserveAspectRatio="none">
          <path d="M0.703125 0L257.375 0.0114634C257.375 0.0114634 168.292 97.1494 0.703125 0Z" fill="white" fill-opacity="0.2"/>
        </svg>
        <svg width="83" height="237" viewBox="0 0 83 237" fill="none" xmlns="http://www.w3.org/2000/svg" class="dec-3-3">
          <path d="M0.231445 0H82.9749L82.9752 236.615C82.9752 236.615 82.954 236.435 82.9433 236.345C77.2246 187.79 68.4142 142.274 56.5113 103.082C40.436 50.1525 20.8564 15.7931 0.231445 0Z" fill="#222429" fill-opacity="0.2"/>
        </svg>
        <svg width="102" height="44" viewBox="0 0 102 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="dec-3-4">
          <path d="M0.135742 0L101.07 0.0114634C101.07 0.0114634 66.0388 97.1494 0.135742 0Z" fill="white" fill-opacity="0.2"/>
        </svg>


        <span>JESTEŚ ZAINTERESOWANY<br />WSPÓŁPRACĄ?</span>
        <Button text="Skontaktuj się z nami" :type="3" altClass="btn-black-banner-footer" href="/kontakt"  />
      </div>
      <div class="dec-2"></div>
    </div>
</template>

<script>
import Button from "@/components/Button.vue";
    export default {
        name: "FooterTop",
        components: {
            Button,
        },
    }
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";

#footer-top{  // started 2021-02-19
  position: relative;
  background: #fff;
  color: #000;
  
  // new vars
  $obj-h-mb: 236px;
  $obj-h-md: 289px;

  $obj-p-tb: 30px;
  $obj-p-sm: 50px;
  $obj-p-md: 100px;
  
  @include mb {
    height: calc(#{$obj-h-mb} / 2);
  }
  @include md {
    height: calc(#{$obj-h-md} / 2);
  }
  
  & > div.container {
    @include width-01();
    
    position: relative;
    z-index: 100;
    overflow: hidden;
    position: relative;
    background: $orange;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;

    @include mb-only {
      flex-direction: column;
      justify-content: center;
    }
    @include mb{
      height: $obj-h-mb;
    }
    @include md{
      height: $obj-h-md;
    }
            
    span {
      font-style: normal;
      font-weight: 600;
      @include fontH;

      @include mb-only{
        text-align: center;
        margin-bottom: 32px;

        font-size: 26px;
        line-height: 37px;
      }
      @include tb{
        font-size: 36px;
        line-height: 52px;

        margin-left: $obj-p-tb;
      }
      @include sm{
        margin-left: $obj-p-sm;

        font-size: 48px;
        line-height: 69px;
      }
      @include md{
        margin-left: $obj-p-md;
      }
    }
    a {
      @include tb{
        margin-right: $obj-p-tb;
      }
      @include sm{
        margin-right: $obj-p-sm;
      }
      @include md{
        margin-right: $obj-p-md;
      }
    }

    svg { //TODO
      position: absolute;
      &.dec-3{
        &-1{
          @include mb-only{
            display: none;
          }
          @include tb{
            height: $obj-h-mb;
            right: -1px;
            top: -1px;
          }
          @include md{
            height: $obj-h-md;
          }
        }
        &-2{
          @include mb-only{
            display: none;
          }
          @include tb{
            height: 43px;
            right: 106px;
            top: -1px;
          }
          @include md{
            height: 52px;
            right: 168px;
          }
        }
        &-3{
          display: none;
          @include mb-only{
            display: block;
            height: $obj-h-mb;
            right: -1px;
            top: -1px;
          }
        }
        &-4{
          display: none;
          @include mb-only{
            display: block;
            width: 100px;
            height: 43px;
            right: 42px;

            top: -1px;
          }
        }
      }
    }
  }
}
</style>