<template>
  <div id="header">
    <HeaderLogo />
    <HeaderContact />
    <div class="container container-desktop">
      <HeaderNav />
    </div>
    <div class="container container-mobile" >
      <HeaderNav :isOpen="mobileNav.isOpen" :toggleMobileNav="toggleMobileNav" class="mobile"/>
    </div>
    <div class="nav-hamburger-mobile" :class="mobileNav.isOpen ? 'nav-open' : ''" @click="toggleMobileNav">
      <div id="hamburger-icon" :class="mobileNav.isOpen ? 'checked' : ''">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
  </div>
</template>

<script>
import HeaderLogo from "@/components/header/HeaderLogo.vue";
import HeaderContact from "@/components/header/HeaderContact.vue";
import HeaderNav from "@/components/header/HeaderNav.vue";

export default {
  name: "Header",
  components: { HeaderNav, HeaderLogo, HeaderContact },
  data() {
    return {
      mobileNav: {
        isOpen: false
      }
    }
  },
  methods: {
    toggleMobileNav: function(){
      this.mobileNav.isOpen = !this.mobileNav.isOpen;
    }
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
@import "@/assets/scss/nav.scss";

#header {
  padding-bottom: 15px;
  
  @include mobile-nav {
    padding-top: 20px;
  }
  @include desktop-nav {
    padding-top: 30px;
  }
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  
  display: flex;
  flex-direction: column;
  
  &>div.container{
    @include width-01();
    
    display: flex;
    flex-direction: row;
    
    position: relative;
    
    &:nth-of-type(1){
        justify-content: flex-start;
        align-items: center;
    }
    
    &-desktop{
      @include mobile-nav {
        display: none;
      }
      @include desktop-nav {
        display: flex;
      }
    }
  }
}
</style>