<template >
  <ul :class="'style-'+type" >
    <li v-for="(item, index) in items" :key="key + '_' + index">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.538 4.89074L10.1253 20.3035L4.46208 14.6403C4.18751 14.3657 3.74231 14.3657 3.46769 14.6403L1.81042 16.2975C1.53585 16.5721 1.53585 17.0173 1.81042 17.2919L9.62806 25.1096C9.90263 25.3841 10.3478 25.3841 10.6225 25.1096L28.1896 7.5424C28.4642 7.26783 28.4642 6.82264 28.1896 6.54801L26.5324 4.89074C26.2578 4.61617 25.8126 4.61617 25.538 4.89074Z" fill="#F56400"/>
      </svg>
      {{ item }}
    </li>
  </ul>
</template>

<script>
export default {
  name: "List",
  props: ['items', 'key', 'type']
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";
ul {
  list-style: none;
  
  &.style{
    &-1{
      li {
        display: grid;
        grid-template-columns: 50px auto;
    
        @include fontH;
        
        @include mb{
          font-size: 18px;
          line-height: 26px;
          text-align: left;

          margin-bottom: 10px;
        }
        @include tb{
          margin-bottom: 12px;
        }
    
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
    
        svg {
          display: block;

          @include mb{
            height: 30px;
            width: 30px;
          }
        }
      }
    }
    &-2{
      li {
        display: grid;
        grid-template-columns: 42px auto;
    
        font-weight: normal;
        
        @include mb{
          font-size: 18px;
          line-height: 21px;
          text-align: left;

          margin-bottom: 30px;
        }
    
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
    
        svg {
          // for all resolutions
          margin-right: 21.6px;
          margin-top: 5px;
          height: 20px;
          width: 27px;
          display: inline-block;

          path{
            height: 20px;
            width: 27px;
          }
        }
      }
    }
  }
}
</style>