<template>
  <div class="container">
    <Realization 
      :realizations="realizations" 
      :itemInit="realizationsSelectedItem" 
      :close="closeRealizationsModal" 
      :class="!realizationsSelectedShow ? 'closed' : ''" 
      :nextItem="nextItem"
    />

    <div
      class="card"
      v-for="(item, index) in realizations || []"
      :key="'r_i_' + index"
      :ref="'r_i_ref_' + index"
      @click="isMobile && selectRealization(item, $refs['r_i_ref_' + index].getBoundingClientRect())"
    >
      <div class="header">
        <h3>{{item.title}}</h3>
      </div>
      <div class="button">
        <Button text="Czytaj dalej" :type="3" @click="selectRealization(item, $refs['r_i_ref_' + index].getBoundingClientRect())" altClass="btn-black-banner" />
      </div>
      <div class="info">
        <p>{{item.descriptionShort}}</p>
      </div>
      <div class="img abs-100-100" :style="{
          'background-image':
            'url(\'' +
            webp(require('@/assets/images/portfolio/'+item.thumb)) + '\')',
        }"
        ></div>
      <div class="bck"></div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Button from "@/components/Button.vue";
import Realization from '@/components/Realization.vue';

export default {
  name: "Realizations",
  components:{Button, Realization},
  props: ["routeProps"],
  computed: {
    ...mapState({
      realizations: state => state.realizations
    }),
    isSlugPossible() {
        return this.$route.name === 'RealizationsView' ? true : false;
    }
  },
  data() {
    return {
      selectedIndex: null,
      lastIndex: null,
      side: null,
      realizationsSelectedItem: null,
      realizationsSelectedShow: false,

      isMobile: document.body.clientWidth < 769 ? true : false // 769 => tablet resolution || only for click condition
    };
  },
  methods: {
    selectItem: function (index, side, enter) {
      if (enter && this.selectedIndex != index) {
        this.lastIndex = this.selectedIndex;
        this.selectedIndex = index;
        this.side = side;
      }
    },
    nextItem: function (next, item) {
      let index = this.realizations.findIndex((e) => e.id == item.id), newIndex;
      
      if(index > -1){
        if(next){
          if(index == this.realizations.length - 1)
            newIndex = 0;
          else
            newIndex = index+1;
        }else{
          if(index == 0)
            newIndex = this.realizations.length - 1;
          else
            newIndex = index-1;
        }
        this.realizationsSelectedItem = {...this.realizations[newIndex], position: this.$refs['r_i_ref_' + newIndex].getBoundingClientRect()};

        if(this.isSlugPossible)
          this.$router.push({ name: 'RealizationsView', params: {slug: this.realizations[newIndex].slug}});
      }
    },
    selectRealization: function(i, p){ 
      this.realizationsSelectedItem = {...i, position: p}; 
      this.realizationsSelectedShow = true; 

      if(this.isSlugPossible)
        this.$router.push({ name: 'RealizationsView', params: {slug: this.realizationsSelectedItem.slug}});
    },
    closeRealizationsModal: function(){
      this.realizationsSelectedShow = false;

      
      if(this.isSlugPossible)
        this.$router.push({ name: 'RealizationsView'});
    },
    onResize: function () {
      this.is_mobile = document.body.clientWidth < 769 ? true : false;
    },
    selectRealizationBySlug: function (slug) {
      this.realizations.forEach((el) => {
        if(el.slug == slug){
          this.selectRealization(el, {top: 0, bottom: 0, right: 0, left: 0});
        }
      });
      return false;
    }
  },
  created() {
    window.addEventListener("resize", this.onResize);
  },
  unmounted() {
    window.removeEventListener("resize", this.onResize);
  },
  beforeMount() {
    if(this.routeProps)
      if(this.routeProps.slug && this.isSlugPossible)
        this.selectRealizationBySlug(this.routeProps.slug);
      
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/general.scss";

.container {
  @include mb{
    display: flex;
    flex-direction: column;
  }
  @include tb{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;

  }
  @include sm{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include md{
    grid-gap: 30px;
  }
  
  .card {
    overflow: hidden;

    background: #c4c4c4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    
    overflow: hidden;

    
    //TODO here bug on safari https://stackoverflow.com/questions/49066011/overflow-hidden-with-border-radius-not-working-on-safari
    
    position: relative;
    transform: translateZ(0);
    will-change: transform;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    
    // end of fixes

    // mobile flex
    @include mb-only{
      margin-bottom: 20px;

      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
    }

    $card-h-mb: 330px;
    $card-h-tb: 342px;
    $card-h-md: 420px;

    @include mb{
      height: $card-h-mb;
    }
    @include tb{
      height: $card-h-tb;
    }
    @include md{
      height: $card-h-md;
    }    
    
    &:hover{
        .bck{
            opacity: 1;
        }
        .header{
            transition: 0.3s;
            transform: translateY(0);
        }
        .button{
            opacity: 1;
        }
        .info{
            transition: 0.3s;
            transform: translateY(0);
            opacity: 1;
        }
        .img{
          transform: scale(1.2);
        }
    }
    
    .img{
      position: absolute;
      z-index: 98;
      
      background-position: center;
      background-position-y: top;
      background-size: cover;
      background-repeat: no-repeat;
    
    }
    .bck{
      opacity: 0;
      z-index: 99;
      background: #f56200d2;
    }
    .button{
      position: absolute;
      z-index: 100;
      // bottom: 70px;
      left: 0;
      right: 0;
      opacity: 0;

      @include mb{
        bottom: 10px;
      }
      @include tb{
        bottom: 30px;
      }
      @include md{
        bottom: 50px;
      }
      
      .btn{
        margin: 0 auto;
      }
    }
    
    & > .header{ 
      position: relative;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      @include mb{
        transform: translateY(-$card-h-mb);
      }
      @include tb{
        transform: translateY(-$card-h-tb);
      }
      @include md{
        transform: translateY(-$card-h-md);
      }
      
      h3{
        @include fontH;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
        
        @include mb{
          padding: 10px 0;
          margin-top: 15px;
        }
        @include tb{
          padding: 15px 0;
          margin-top: 10px;
        }
        @include md{
          padding: 20px 0;
          margin-top: 15px;
        }
      }
    
    }

    & > div.info {
      transition: 0.3s;
      opacity: 0;
            
      z-index: 100;
      position: relative;
      left: 0;
      right: 0;

      @include mb{
        padding: 15px 20px;
        transform: translateY($card-h-mb);
      }
      @include tb{
        transform: translateY($card-h-tb);
      }
      @include md{
        transform: translateY($card-h-md);
      }
      
      padding-bottom: 0;

      span,
      & > p, .p-style {
        font-weight: normal;
        color: #fff;
      }
    }
  }
}
</style>