<template>
    <div id="realization-view" :style="modalStyles">
        <div class="controls controls-close" @click="close" v-if="item">
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3637 10L17.373 3.99063L18.6123 2.75137C18.7951 2.56855 18.7951 2.27148 18.6123 2.08867L17.2863 0.762695C17.1035 0.579883 16.8064 0.579883 16.6236 0.762695L9.375 8.01133L2.12637 0.762109C1.94355 0.579297 1.64648 0.579297 1.46367 0.762109L0.137109 2.08809C-0.0457031 2.2709 -0.0457031 2.56797 0.137109 2.75078L7.38633 10L0.137109 17.2486C-0.0457031 17.4314 -0.0457031 17.7285 0.137109 17.9113L1.46309 19.2373C1.6459 19.4201 1.94297 19.4201 2.12578 19.2373L9.375 11.9887L15.3844 17.998L16.6236 19.2373C16.8064 19.4201 17.1035 19.4201 17.2863 19.2373L18.6123 17.9113C18.7951 17.7285 18.7951 17.4314 18.6123 17.2486L11.3637 10Z" fill="white"/>
            </svg>
        </div>
        <div class="image" v-if="item" :style="{
            'background-image': 'url(\'' + webp(require('@/assets/images/grafiki-realizacja/'+selectedImage)) + '\')',
            '--bg-large-image': 'url(\'' + webp(require('@/assets/images/grafiki-realizacja/'+selectedImage)) + '\')',
            '--bg-mobile-image': 'url(\'' + webp(require('@/assets/images/grafiki-realizacja/'+item.imagesLowQuality[selectedImageIndex])) + '\')',
        }" >
        </div>
        <div class="decoration decoration-1" v-if="item">
            <svg width="557" height="479" viewBox="0 0 557 479" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.00012207 478.861H556.202L556.21 0C556.21 0 556.067 0.365116 555.991 0.548513C517.547 98.8137 458.328 190.928 378.315 270.242C270.252 377.362 138.641 446.898 0.00012207 478.861Z" fill="#F56400"/>
            </svg>
        </div>
        <div class="decoration decoration-2" v-if="item">
            <svg width="197" height="291" viewBox="0 0 197 291" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 277.264C14.5791 281.448 45.8394 289.644 62.2482 288.96C82.7592 288.104 101.561 288.104 99.8517 265.284C98.1424 242.464 70.5095 236.474 63.6725 253.589C56.8355 270.704 103.27 276.694 128.624 245.602C143.722 227.061 97.0029 211.372 93.5844 221.356C90.1659 231.339 119.508 254.445 153.978 240.468C188.448 226.49 190.727 157.746 179.902 112.391C169.076 67.0366 178.762 17.1182 195 2" stroke="#F56400" stroke-width="3"/>
            </svg>
        </div>
        <div class="controls controls-bullet" v-if="item">
            <div v-for="(bullet, ib) in item.images" :key="'b_i_'+ib" @click="nextImage(bullet)">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="selectedImageIndex == ib">
                    <circle cx="7.5" cy="7.5" r="7.5" fill="#1B1D21"/>
                </svg>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" v-else>
                    <circle cx="7.5" cy="7.5" r="7.5" fill="#1B1D21" fill-opacity="0.5"/>
                </svg>
            </div>
        </div>
        <div class="container" v-if="item" :class="'container-ver-'+(item.id+1)">
            <div class="title">
                <img :src="webp(require('@/assets/images/portfolio/'+item.logo))" alt="">
            </div>
            <div class="content" v-html="item.content"></div>
            <div class="images">
                <div class="img" v-for="(img,index) in item.images.filter((e) => e != selectedImage)" :key="index+'_img'" :style="{
                  '--bg-large-image': 'url(\'' + webp(require('@/assets/images/grafiki-realizacja/'+img)) + '\')',
                  '--bg-mobile-image': 'url(\'' + webp(require('@/assets/images/grafiki-realizacja/'+item.imagesLowQuality[index])) + '\')',
                }" @click="nextImage(img)" ></div>
            </div>
        </div>
        <div class="controls controls-prev" v-if="item" @click="nextItem(false,item)">
            <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.451182 12.1699L11.9551 0.841797C12.4141 0.382812 13.1563 0.382812 13.6152 0.841797L14.3086 1.53516C14.7676 1.99414 14.7676 2.73633 14.3086 3.19531L4.31837 13L14.2988 22.8047C14.7578 23.2637 14.7578 24.0059 14.2988 24.4648L13.6055 25.1582C13.1465 25.6172 12.4043 25.6172 11.9453 25.1582L0.441416 13.8301C-0.00780267 13.3711 -0.00780262 12.6289 0.451182 12.1699Z" fill="#F56400"/>
            </svg>
            <span>Poprzednia realizacja</span>
        </div>
        <div class="controls controls-next" v-if="item" @click="nextItem(true,item)">
            <span>Następna realizacja</span>
            <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.2988 13.8301L2.79492 25.1582C2.33594 25.6172 1.59375 25.6172 1.13477 25.1582L0.441406 24.4648C-0.0175781 24.0059 -0.0175781 23.2637 0.441406 22.8047L10.4316 13L0.451172 3.19531C-0.00781246 2.73633 -0.00781246 1.99414 0.451172 1.53516L1.14453 0.841797C1.60352 0.382812 2.3457 0.382812 2.80469 0.841797L14.3086 12.1699C14.7578 12.6289 14.7578 13.3711 14.2988 13.8301Z" fill="#1B1D21"/>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Realization",
        props: ["itemInit", "realizations", "positionInit", "close", "nextItem"],
        computed: {
            modalStyles: function(){
                if(this.$props.itemInit)
                    return {
                        '--start-top': this.$props.itemInit.position.top + "px",
                        '--start-bottom': this.$props.itemInit.position.bottom + "px",
                        '--start-left': this.$props.itemInit.position.left + "px",
                        '--start-right': this.$props.itemInit.position.right + "px",
                        
                        '--start-width': this.$props.itemInit.position.width + "px",
                        '--start-height': this.$props.itemInit.position.height + "px",
                    }
                return null;    
            },
            item : function () {
                return this.$props.itemInit;
            }
        },
        watch: { 
            itemInit: function(newVal) {
                this.selectedImage = newVal.images[0];
                this.selectedImageIndex = 0;
            }
        },
        data() {
            return {
                basePathImages: '@/assets/images/',
                selectedImage: this.$props.itemInit ? this.$props.itemInit.images[0] : '/siemens/Web-Showcase-Project-Presentation.png',
                selectedImageIndex: 0
            }
        },
        methods: {
            nextImage: function(img){
                this.selectedImageIndex = this.$props.itemInit.images.findIndex((e) => e == img);
                this.selectedImage = this.$props.itemInit.images[this.selectedImageIndex];
            },
            fixPath: function(path, isLow){
                let p = path.split('/'), pre = '@/assets/images/grafiki-realizacja/';
                return pre + p[0] + (isLow ? '/low' : '/high') + p[1];
            }
        },
    }
</script>

<style lang="scss"> // optimize this
@import "@/assets/scss/general.scss";
// @import "@/assets/scss/variables.scss";
// @import "@/assets/scss/breakpoints.scss";

#realization-view{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 100%;
    width: 100%;
    
    display: unset;
    
    z-index: 120;
    
    background: $gray3;
    
    $img-mb-height: 360px;
    $img-tb-height: 415px;
    $img-sm-height: 415px;
    $img-md-height: 519px;
    
    @include lg-max { // xs-max
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    @keyframes in-1 {
      0% {
        top: var(--start-top);
        bottom: var(--start-bottom);
        left: var(--start-left);
        right: var(--start-right);
        
        height: var(--start-height);
        width: var(--start-width);
        opacity: 0;
      }
      100% {
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }
    }
    @keyframes in-2 {
      0% {
        opacity: 0;
      }
      99% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes out-1 {
      0% {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        
        visibility: visible;
        opacity: 1;
      }
      99%{
        opacity: 0;

        top: var(--start-top);
        bottom: var(--start-bottom);
        left: var(--start-left);
        right: var(--start-right);
        
        height: var(--start-height);
        width: var(--start-width);
      }
      100% {
        
        visibility: hidden;
      }
    }
    @keyframes out-2 {
      0% {
        opacity: 0;
      }
      99% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    $anim-length: 0.3s;
    
    animation: in-1 $anim-length ease-in;
    
    & > *{
        animation: in-2 $anim-length ease-in;
    }
    
    &.closed{
        top: var(--start-top);
        bottom: var(--start-bottom);
        left: var(--start-left);
        right: var(--start-right);
        
        height: var(--start-height);
        width: var(--start-width);
        
        visibility: hidden;
        
        animation: out-1 $anim-length ease-in;
        
        & > *{
            opacity: 0;
            
            animation: out-2 $anim-length ease-in;
        }
    }
    // inside elements 
    
    .image, .controls, .container, .decoration{
        @include lg { // xs
            position: absolute;
        }
    }
    .decoration, .controls.controls-close, .controls.controls-bullet{
        @include lg-max { // xs-max
            position: absolute;
        }
    }
    .controls.controls-next, .controls.controls-prev{
        @include lg-max { // xs-max
            position: relative;
        }
    }
    
    .controls{  
        z-index: 133;  
        cursor: pointer;
        &-close{
            right: 0;
            top: 0;
            
            $x-w-xxs: 14px;
            $x-w-xs: 7px;
            $x-w-sm: 10px;
            $x-w-md: 13px;
            $x-w-lg: 14px;
            $x-w-xl: 18px;
            
            $x-b-w-xxs: 20px;
            $x-b-w-xs: 14px;
            $x-b-w-sm: 19px;
            $x-b-w-md: 23px;
            $x-b-w-lg: 27px;
            $x-b-w-xl: 35px;
            
            svg {
                
                path{
                    fill: #fff;
                }
                
                @include xxs {
                    height: $x-w-xxs;
                    width: $x-w-xxs;
                }
                @include xs {
                    height: $x-w-xs;
                    width: $x-w-xs;
                }
                @include sm {
                    height: $x-w-sm;
                    width: $x-w-sm;
                }
                @include md {
                    height: $x-w-md;
                    width: $x-w-md;
                }
                @include lg {
                    height: $x-w-lg;
                    width: $x-w-lg;
                }
                @include xl {
                    height: $x-w-xl;
                    width: $x-w-xl;
                }
            }
            
            background: $orange;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            @include xxs {
                height: $x-b-w-xxs;
                width: $x-b-w-xxs;
            }
            @include xs {
                height: $x-b-w-xs;
                width: $x-b-w-xs;
            }
            @include sm {
                height: $x-b-w-sm;
                width: $x-b-w-sm;
            }
            @include md {
                height: $x-b-w-md;
                width: $x-b-w-md;
            }
            @include lg {
                height: $x-b-w-lg;
                width: $x-b-w-lg;
            }
            @include xl {
                height: $x-b-w-xl;
                width: $x-b-w-xl;
            }
        }
        
        &-next, &-prev{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            @include lg-max { // xs-max
                width: calc(50% - 20px);
                height: 0;
            }
            @include xxs {
                padding: 0 10px;
            }
            @include xs {
                padding: 0 9px;
            }
            @include sm {
                padding: 0 12px;
            }
            @include md {
                padding: 0 14px;
            }
            @include lg {
                padding: 0 16px;
            }
            @include xl {
                padding: 0 30px;
            }
            
            span{
                font-family: Teko;
                font-style: normal;
                font-weight: normal;
                text-align: center;
                
                @include xxs {
                    font-size: 12px;
                    line-height: 17px;
                }
                @include xs {
                }
                @include sm {
                    // font-size: 14px;
                    // line-height: 20px;
                    font-size: 18px;        
                    line-height: 26px;
                }
                @include md {
                    font-size: 16px;
                    line-height: 23px;
                }
                @include lg {
                    font-size: 18px;
                    line-height: 26px;
                }
                @include xl {
                }
            }
            
            svg{
                @include xxs {
                    height: 15px;
                }
                @include xs {
                    height: 10px;
                }
                @include sm {
                    height: 14px;
                }
                @include md {
                    height: 17px;
                }
                @include lg {
                    height: 19px;
                }
                @include xl {
                    height: 26px;
                }
            }
        }
        &-next{
            right: 0;
            @include lg-max { // xs-max
                left: 50%;
                justify-content: flex-end;
            }
        
            span{
                color: $gray2;
                @include lg-max { // xs-max
                    color: $orange;
                    
                    
                }
                
                margin-right: 20px;
            }
            
            svg path{
                @include lg-max { // xs-max
                    fill: $orange;
                }
            }
        }
        &-prev{
            left: 0;
            @include lg-max { // xs-max
                right: 50%;
                justify-content: flex-start;
            }
            
            span{
                color: $orange;
                
                margin-left: 20px;
            }
        }
        
        $b-b-xxs: 16px;
        $b-b-xs: 23px; // 13px;
        $b-b-sm: 30px; // 17px
        $b-b-md: 32px; // 20px
        $b-b-lg: 24px;
        $b-b-xl: 32px;
        
        $b-h-xxs: 5.6px;
        $b-h-xs: 6px;
        $b-h-sm: 8px;
        $b-h-md: 10px;
        $b-h-lg: 11px;
        $b-h-xl: 15px;
        
        &-next, &-prev, &-bullet{
            // bottom: 27px;
            
            @include xxs {
                bottom: $b-b-xxs;
            }
            @include xs {
                bottom: $b-b-xs;
            }
            @include sm {
                bottom: $b-b-sm;
            }
            @include md {
                bottom: $b-b-md;
            }
            @include lg {
                bottom: $b-b-lg;
            }
            @include xl {
                bottom: $b-b-xl;
            }
        }
        
        &-bullet{
            @include mb-only {
                top: $img-mb-height - ($b-b-xxs + 10px);
            }
            @include tb-only {
                top: $img-tb-height - ($b-b-xs + 10px);
            }
            @include sm-only {
                top: $img-sm-height - ($b-b-sm + 10px);
            }
            @include md-only {
                top: $img-md-height - ($b-b-md + 10px);
            }
            // @include tb {
            //     top: $img-xs-height - ($b-b-xs + 10px);
            // }
            @include lg { // xs
                left: 50%;
            }
            
            display: flex;
            flex-direction: row;
            
            div{
                // margin-left: 30px;
                @include xxs {
                    margin-left: $b-b-xxs;
                }
                @include xs {
                    margin-left: $b-b-xs;
                }
                @include sm {
                    margin-left: $b-b-sm;
                }
                @include md {
                    margin-left: $b-b-md;
                }
                @include lg {
                    margin-left: $b-b-lg;
                }
                @include xl {
                    margin-left: $b-b-xl;
                }
                
                svg{
                    @include xxs {
                        height: $b-h-xxs;
                        width: $b-h-xxs;
                    }
                    @include xs {
                        height: $b-h-xs;
                        width: $b-h-xs;
                    }
                    @include sm {
                        height: $b-h-sm;
                        width: $b-h-sm;
                    }
                    @include md {
                        height: $b-h-md;
                        width: $b-h-md;
                    }
                    @include lg {
                        height: $b-h-lg;
                        width: $b-h-lg;
                    }
                    @include xl {
                        height: $b-h-xl;
                        width: $b-h-xl;
                    }
                }
            }
            
            @include xs-max {
                bottom: unset;
            }
        }
    }
    .decoration{
        z-index: 132; 
        &-1{
            // right: -5px;
            // bottom: -5px;
            
            // @include lg-max { // xs-max
            //     top: $img-mb-height - 182.55px + 2px;
            //     right: -5px; 
            // }
            @include mb-only{ // xs-max
                top: $img-mb-height - 182.55px + 2px;
                right: -5px; 
            }

            @include tb-only{ // xs-max
                top: $img-tb-height - 255.11px + 1px;
                right: -5px; 
            }
            @include sm-only{ // xs-max
                top: $img-sm-height - 286.01px + 1px;
                right: -5px; 
            }
            @include md-only{ // xs-max
                top: $img-md-height - 319px + 1px;
                right: -5px; 
            }
            
            @include lg { // xs
                right: -5px;
                bottom: -5px;
            }
            svg{
                @include xxs {
                    width: 208.63px;
                    height: 182.55px;
                }
                @include xs {
                    // width: 222.37px;
                    // height: 191.45px;
                    width: 296.32px;
                    height: 255.11px;
                    
                    right: -5px;
                    bottom: -5px;
                }
                @include sm {
                    // width: 296.32px;
                    // height: 255.11px;
                    width: 332.21px;
                    height: 286.01px;
                }
                @include md {
                    width: 370.53px;
                    height: 319px;
                }
                @include lg {
                    width: 417.09px;
                    height: 359.09px;
                }
                @include xl {
                    width: 556.21px;
                    height: 478.86px;
                }
            }
            
        }
        &-2{
            // @include lg-max { // xs-max
            //     top: $img-mb-height - 2px;
            //     left: -5px;
                
            //     z-index: 120;
            // }
            @include lg-max {
                z-index: 120;
                left: -5px;
            }
            @include mb-only {
                top: $img-mb-height - 2px;
            }
            @include tb-only {
                top: $img-tb-height - 2px;
            }
            @include sm-only {
                top: $img-sm-height - 2px;
            }
            @include md-only {
                top: $img-md-height - 2px;
            }
            @include lg { // xs
                left: -5px;
                top: -5px;
            }
            svg{
                @include xxs {
                    width: 67px;
                    height: 101px;
                }
                @include xs {
                    // width: 77px;
                    // height: 116px;
                    width: 103px;
                    height: 152px;
                }
                @include sm {
                    // width: 103px;
                    // height: 152px;
                    
                    width: 194px;
                    height: 287px;
                }
                @include md {
                    // width: 130px;
                    // height: 191px;

                    width: 194px;
                    height: 287px;
                }
                @include lg {
                    width: 146px;
                    height: 215px;
                }
                @include xl {
                    width: 194px;
                    height: 287px;
                }
            }
        }
    }
    
    .image, .container{
        // @include xxs {
        // }
        @include lg { // xs
            top: 0;
            bottom: 0;
        }
    }
    
    .image{
        // @include lg-max { // xs-max
        //     height: $img-mb-height;
        //     width: 100%;
        // }
        
        background-image: var(--bg-large-image) !important;

        @include mb-only{
            background-image: var(--bg-mobile-image) !important;
        }

        @include lg-max {
            width: 100%;
        }
        @include mb-only {
            height: $img-mb-height;
        }
        @include tb-only {
            height: $img-tb-height;
            background-position-y: 25%;
        }
        @include sm-only {
            height: $img-sm-height;
            background-position-y: 35%;
        }
        @include md-only {
            height: $img-md-height;
            background-position-y: 35%;
        }
        @include lg { // xs
            left: 50%;
            right: 0;
            
            border-radius: 20px 0px 0px 20px; //TODO
        }
        
        z-index: 121;
        
        
        background: $grey20;
        
        background-size: cover;
        background-position: center;
        
        background-repeat: no-repeat;
        
        -webkit-transition: background-image .3s;
    }
    .container{
        @include lg { // xs
            right: 50%;
            left: 0;
        }
        
        z-index: 121;
        
        text-align: center !important;
        
        @include xxs {
            // overflow-y: scroll;
        
        }
        @include xs {
            // padding-top: 53px;
            padding-top: 27px;
        }
        @include sm {
            padding-top: 68px;
        }
        @include md {
            padding-top: 86px;
        }
        @include lg {
            padding-top: 98px;
        }
        @include xl {
            padding-top: 130px;
        }
        
        .content, .title{
            & > *{
                text-align: center !important;
            }
        }
        
        .content{
            
            h2{
                margin: 0;
                
                @include xxs {
                    // font-size: 18px;
                    // line-height: 26px;

                    font-size: 26px;
                    line-height: 35px;
                }
                @include xs {
                }
                @include sm {
                    // font-size: 24px;
                    // line-height: 34px;
                    
                    font-size: 36px;
                    line-height: 35px;

                }
                @include md {
                    font-size: 36px;
                    line-height: 52px; // 48px
                }
                @include lg {
                }
                @include xl {
                }
            }
            p{
                display: block;
                
                color: #FFFFFF;
                
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                text-align: center;
                                
                @include xxs {
                    // font-size: 10px;
                    // line-height: 11px;
                    
                    font-size: 14px;
                    line-height: 21px;
                    
                    max-width: 260px;
                    margin-top: 12px;
                }
                @include xs {
                    max-width: 344px;
                }
                @include sm {
                    // font-size: 12px;
                    // line-height: 14px;

                    font-size: 18px;
                    line-height: 21px;
                    
                    max-width: 544px;
                    margin-top: 21px;
                }
                @include md {
                    // font-size: 14px;
                    // line-height: 16px;

                    font-size: 18px;
                    line-height: 21px;
                                        
                    // max-width: 433px;
                    max-width: 806px;;
                    margin-top: 40px;
                }
                @include lg {
                    font-size: 16px;
                    line-height: 18px;
                    
                    max-width: 487px;
                    margin-top: 37px;
                }
                @include xl {
                    font-size: 18px;
                    line-height: 21px;
                    
                    max-width: 650px;
                    margin-top: 60px;
                }
            }
        }
        
        .images{
            display: flex;
            justify-content: center;
            
            
            // @include lg-max { // xs-max
            //     flex-direction: column;
                
            //     align-items: center;
                
            //     margin-top: 12px;
            //     margin-bottom: 48px;
            // }
            @include lg-max { // xs-max
                flex-direction: column;
                align-items: center;
            }
            
            @include mb-only {
                margin-top: 12px;
                margin-bottom: 48px;
            }
            @include tb-only {
                margin-top: 44px;
                margin-bottom: 48px;
            }
            @include sm-only {
                margin-top: 44px;
                margin-bottom: 54px;
            }
            @include md-only {
                margin-top: 44px;
                margin-bottom: 54px;
            }
            @include lg { // xs
                flex-direction: row;
                
                bottom: 60px;
                
                position: absolute;
                left: 0;
                right: 0;
            }
            // @include sm {
            //     bottom: 79px;
            // }
            // @include md {
            //     bottom: 100px;
            // }
            @include lg {
                bottom: 112px;
            }
            @include xl {
                bottom: 150px;
            }
            
            .img{
                background: #C4C4C4;
                border-radius: 10px 10px 20px 10px;
                                
                background-size: cover;
                
                background-position: center;
                
                background-image: var(--bg-large-image);

                @include mb-only{
                    background-image: var(--bg-mobile-image);
                }

                @include mb-only{
                    border-radius: 10px;
                }
                
                &:nth-of-type(1){
                    margin-left: 0;
                }
                &:nth-last-of-type(1){
                    margin-right: 0;
                    @include lg-max { // xs-max
                        margin-bottom: 0;
                    }
                }
                
                @include lg-max { // xs-max
                    margin-bottom: 20px;
                }
                @include mb-only {
                    width: 250px;
                    height: 250px;
                }
                @include tb-only {
                    // width: 91.55px;
                    // height: 92.75px;

                    width: 447px;
                    height: 279px;
                }
                @include sm-only {
                    width: 647px;
                    height: 279px;
                    background-position-y: 40%;
                }
                @include md-only {
                    width: 647px;
                    height: 279px;
                    background-position-y: 40%;
                }
                // @include sm {
                //     width: 122px;
                //     height: 123.6px;
                    
                //     margin-right: 25.5px;
                // }
                // @include md {
                //     width: 152.55px;
                //     height: 154.55px;
                    
                //     margin-right: 30px;
                // }
                @include lg {
                    width: 171.72px;
                    height: 173.97px;
                    
                    margin-right: 36px;
                }
                @include xl {
                    width: 229px;
                    height: 232px;
                    
                    margin-right: 51px;
                }
            }
        }
        
        h2, p{
            margin-left: auto;
            margin-right: auto;
        }
        
        @mixin v1-4(){
            .title{
                img{
                    @include xxs {
                        max-width: 187px;
                        height: 63px;
                    }
                    @include xs {
                        max-width: 187px;
                        height: 63px;
                    }
                    @include sm {
                        max-width: 250px;
                        height: 84px;
                    }
                    @include md {
                        max-width: 312px;
                        height: 104px;
                    }
                    @include lg {
                        max-width: 351px;
                        height: 116px;
                    }
                    @include xl {
                        max-width: 468px;
                        height: 156px;
                    }
                }
            }
        }
        
        @mixin v4-6(){
            .title{
                img{
                    @include xxs {
                        width: 187px;
                    }
                    @include xs {
                        width: 187px;
                    }
                    @include sm {
                        width: 250px;
                    }
                    @include md {
                        width: 312px;
                    }
                    @include lg {
                        width: 351px;
                    }
                    @include xl {
                        width: 468px;
                    }
                }
            }
        }
        
        @mixin v3-6(){
            .title{
                img{
                    @include lg-max { // xs-max
                        margin-top: 20px;
                    }
                }
            }
        }
        
        @mixin v3_v4_v6(){
            @include sm-max  {
                padding-top: 20px;
            }
            .content{
            }
            .images{
                @include sm-max {
                    bottom: 40px;
                }
            }
        }
        
        @mixin v1(){
            .title{}
            .content{}
        }
        @mixin v2(){
            .title{}
            .content{}
        }
        @mixin v3(){
            .title{}
            .content{}
        }
        @mixin v4(){
            .title{}
            .content{}
        }
        @mixin v5(){
            .title{}
            .content{}
        }
        @mixin v6(){
            .title{}
            .content{}
        }
        
        &-ver-1{
            @include v1-4;
        }
        &-ver-2{
            @include v1-4;
        }
        &-ver-3{
            @include v1-4;
            @include v3-6;
            @include v3_v4_v6;
        }
        &-ver-4{
            @include v1-4;
            @include v3-6;
            @include v3_v4_v6;
        }
        &-ver-5{
            @include v4-6;
            @include v3-6;
        }
        &-ver-6{
            @include v4-6;
            @include v3-6;
            @include v3_v4_v6;
        }
        
    }
}
</style>