<template >
  <Header />
  <router-view />
  <FooterTop />
  <Footer />
</template>
<script>
import Header from "@/components/Header.vue";
import FooterTop from "@/components/FooterTop.vue";
import Footer from "@/components/Footer.vue";
export default {
  components: { 
    Header, 
    Footer,
    FooterTop
  },
  mounted() {
    document.dispatchEvent(new Event('render-event'));
  },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');

@import "@/assets/scss/variables.scss";

body, #app{
  margin: 0 auto;
  width: 100%;
}
body {
  background: $backgroundColor;
}
#app {
  overflow-x: hidden;
}
</style>
